[package]
name = "theseus"
version = "0.1.0"
authors = ["Jai A <jaiagr+gpg@pm.me>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1"
bincode = { version = "2.0.0-rc.1", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.7.3"
sha1 = { version = "0.6.1", features = ["std"]}
sha2 = "0.9.9"
sled = { version = "0.34.7", features = ["compression"] }
url = "2.2"
uuid = { version = "1.1", features = ["serde", "v4"] }
zip = "0.5"
async_zip = { version = "0.0.13", features = ["full"] }

chrono = { version = "0.4.19", features = ["serde"] }
daedalus = { version = "0.1.18", features = ["bincode"] }
dirs = "4.0"
# TODO: possibly replace with tracing to have structured logging
log = "0.4.14"
regex = "1.5"
sys-info = "0.9.0"
thiserror = "1.0"
tracing = "0.1"
tracing-error = "0.2"

tauri = { version = "1.2", optional = true}
paste = { version = "1.0", optional = true}

async-tungstenite = { version = "0.20.0", features = ["tokio-runtime", "tokio-native-tls"] }
futures = "0.3"
once_cell = "1.9.0"
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["full"] }
tokio-stream = { version = "0.1", features = ["fs"] }

lazy_static = "1.4.0"
dunce = "1.0.3"

[target.'cfg(windows)'.dependencies] 
winreg = "0.11.0"

[dev-dependencies]
argh = "0.1.6"
pretty_assertions = "1.1.0"

[features]
tauri = ["dep:tauri", "dep:paste"]