.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  color: #f58300;
  font-weight: bold;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: var(--color-brand);
}

.hljs-title,
.hljs-section {
  color: #008888;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #bc6060;
}

.hljs-literal {
  color: #78a960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #f58300;
}

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

pre {
  background-color: #222222;
  padding: 1em 1em 1em 1em;
  border-width: 5px;
  border-radius: 2em;
  border-color: var(--color-button-bg);
  overflow-x: hidden;

  code {
    line-height: 100%;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    font-family: monospace;
  }
}
