.light-properties {
	--color-bg: #ebebeb;
	--color-raised-bg: #ffffff;
	--color-super-raised-bg: #e9e9e9;
	--color-button-bg: #f5f5f5;
	--color-button-border: rgba(161, 161, 161, 0.35);
	--color-scrollbar: #96a2b0;

	--color-divider: #babfc5;
	--color-divider-dark: #c8cdd3;

	--color-base: #2c2e31;
	--color-secondary: #484d54;
	--color-contrast: #1a202c;
	--color-accent-contrast: #ffffff;

	--color-red: oklch(54.79% 0.20045 16.81);
	--color-red-50: oklch(82.665% 0.07645 4.4005);
	--color-red-100: oklch(78.955% 0.09449 6.0185);
	--color-red-200: oklch(71.745% 0.13308 7.8923);
	--color-red-300: oklch(65.426% 0.17112 10.661);
	--color-red-400: oklch(60.135% 0.20113 14.4);
	--color-red-500: oklch(54.79% 0.20045 16.81);
	--color-red-600: oklch(45.078% 0.16231 16.12);
	--color-red-700: oklch(34.816% 0.12146 15.606);
	--color-red-800: oklch(23.841% 0.07598 13.46);
	--color-red-900: oklch(11.056% 0.02566 1.8713);
	--color-red-950: oklch(0% 0 none);

	--color-orange: oklch(69.638% 0.15114 59.719);
	--color-orange-50: oklch(91.483% 0.04225 66.104);
	--color-orange-100: oklch(88.873% 0.05554 67.009);
	--color-orange-200: oklch(83.823% 0.08272 66.893);
	--color-orange-300: oklch(78.922% 0.10887 66.007);
	--color-orange-400: oklch(74.057% 0.13202 63.095);
	--color-orange-500: oklch(69.638% 0.15114 59.719);
	--color-orange-600: oklch(58.779% 0.12853 59.552);
	--color-orange-700: oklch(46.846% 0.09973 60.398);
	--color-orange-800: oklch(34.102% 0.06847 61.988);
	--color-orange-900: oklch(19.782% 0.03334 63.742);
	--color-orange-950: oklch(11.077% 0.01645 78.539);

	--color-green: oklch(66.083% 0.1712 152.71);
	--color-green-50: oklch(90.034% 0.16454 159.52);
	--color-green-100: oklch(89.282% 0.18066 158.49);
	--color-green-200: oklch(88.193% 0.20849 155.43);
	--color-green-300: oklch(87.619% 0.22852 152.35);
	--color-green-400: oklch(77.289% 0.20205 152.29);
	--color-green-500: oklch(66.083% 0.1712 152.71);
	--color-green-600: oklch(49.936% 0.12692 153.62);
	--color-green-700: oklch(32.306% 0.07933 155.35);
	--color-green-800: oklch(11.429% 0.02278 169.4);
	--color-green-900: oklch(0% 0 none);
	--color-green-950: oklch(0% 0 none);

	--color-blue: oklch(52.214% 0.15479 255.86);
	--color-blue-50: oklch(82.21% 0.06863 253.35);
	--color-blue-100: oklch(78.662% 0.08294 253.25);
	--color-blue-200: oklch(71.717% 0.1114 253.75);
	--color-blue-300: oklch(64.978% 0.13975 254.43);
	--color-blue-400: oklch(58.892% 0.16686 255.46);
	--color-blue-500: oklch(52.214% 0.15479 255.86);
	--color-blue-600: oklch(42.649% 0.12275 255.6);
	--color-blue-700: oklch(32.447% 0.08691 254.68);
	--color-blue-800: oklch(21.53% 0.04801 253.76);
	--color-blue-900: oklch(0% 0 none);
	--color-blue-950: oklch(0% 0 none);

	--color-purple: oklch(55.837% 0.26106 298.9);
	--color-purple-50: oklch(92.466% 0.04319 307.94);
	--color-purple-100: oklch(87.948% 0.06947 306.69);
	--color-purple-200: oklch(79.117% 0.12332 305.6);
	--color-purple-300: oklch(70.367% 0.17766 303.95);
	--color-purple-400: oklch(62.504% 0.22432 302.08);
	--color-purple-500: oklch(55.837% 0.26106 298.9);
	--color-purple-600: oklch(48.735% 0.26241 294.5);
	--color-purple-700: oklch(40.133% 0.21355 295.1);
	--color-purple-800: oklch(31.062% 0.16149 296.14);
	--color-purple-900: oklch(21.286% 0.10458 298.52);
	--color-purple-950: oklch(15.712% 0.07375 301.52);

	--color-gray: oklch(47.148% 0.00995 271.2);
	--color-gray-50: oklch(78.014% 0.00712 277.13);
	--color-gray-100: oklch(74.753% 0.00748 268.53);
	--color-gray-200: oklch(68.023% 0.01048 273.29);
	--color-gray-300: oklch(61.09% 0.01224 274.78);
	--color-gray-400: oklch(54.232% 0.0111 273.23);
	--color-gray-500: oklch(47.148% 0.00995 271.2);
	--color-gray-600: oklch(37.106% 0.00734 264.48);
	--color-gray-700: oklch(26.008% 0.004 264.5);
	--color-gray-800: oklch(13.846% 0.00189 196.94);
	--color-gray-900: oklch(0% 0 none);
	--color-gray-950: oklch(0% 0 none);

	--color-red-highlight: rgba(203, 34, 69, 0.25);
	--color-orange-highlight: rgba(224, 131, 37, 0.25);
	--color-green-highlight: rgba(0, 175, 92, 0.25);
	--color-blue-highlight: rgba(31, 104, 192, 0.25);
	--color-purple-highlight: rgba(142, 50, 243, 0.25);
	--color-gray-highlight: rgba(89, 91, 97, 0.25);

	--color-red-bg: rgba(203, 34, 69, 0.1);
	--color-orange-bg: rgba(224, 131, 37, 0.1);
	--color-green-bg: rgba(0, 175, 92, 0.1);
	--color-blue-bg: rgba(31, 104, 192, 0.1);
	--color-purple-bg: rgba(142, 50, 243, 0.1);

	--color-brand: var(--color-green);
	--color-brand-highlight: var(--color-green-highlight);
	--color-brand-shadow: rgba(0, 175, 92, 0.7);

	--shadow-inset-lg: inset 0px -2px 2px hsla(221, 39%, 91%, 0.1);
	--shadow-inset: inset 0px -2px 2px hsla(221, 39%, 91%, 0.05);
	--shadow-inset-sm: inset 0px -1px 2px hsla(221, 39%, 91%, 0.15);

	--shadow-raised-lg: 0px 2px 4px hsla(221, 39%, 11%, 0.2);
	--shadow-raised: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.15),
		1px 2px 2.2px -1.7px hsl(var(--shadow-color) / 0.12),
		4.4px 8.8px 9.7px -3.4px hsl(var(--shadow-color) / 0.09);
	--shadow-floating: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px,
		hsla(0, 0%, 0%, 0.1) 0px 4px 6px -1px, hsla(0, 0%, 0%, 0.1) 0px 2px 4px -1px;

	--shadow-card: rgba(50, 50, 100, 0.1) 0px 2px 4px 0px;

	--brand-gradient-bg: linear-gradient(
		0deg,
		rgba(68, 182, 138, 0.175) 0%,
		rgba(58, 250, 112, 0.125) 100%
	);
	--brand-gradient-strong-bg: linear-gradient(
		270deg,
		rgba(68, 182, 138, 0.175) 0%,
		rgba(36, 225, 91, 0.12) 100%
	);
	--brand-gradient-button: rgba(255, 255, 255, 0.5);
	--brand-gradient-border: rgba(32, 64, 32, 0.15);
	--brand-gradient-fade-out-color: linear-gradient(to bottom, rgba(213, 235, 224, 0), #d0ece0 70%);

	--color-button-bg-selected: var(--color-brand);
	--color-button-text-selected: var(--color-accent-contrast);

	--color-gradient-button-bg: linear-gradient(180deg, #f8f9fa 0%, #dce0e6 100%);

	--loading-bar-gradient: linear-gradient(to right, var(--color-brand) 0%, #00af5c 100%);

	--color-platform-fabric: #8a7b71;
	--color-platform-quilt: #8b61b4;
	--color-platform-forge: #5b6197;
	--color-platform-neoforge: #dc895c;
	--color-platform-liteloader: #4c90de;
	--color-platform-bukkit: #e78362;
	--color-platform-bungeecord: #c69e39;
	--color-platform-folia: #6aa54f;
	--color-platform-paper: #e67e7e;
	--color-platform-purpur: #7763a3;
	--color-platform-spigot: #cd7a21;
	--color-platform-velocity: #4b98b0;
	--color-platform-waterfall: #5f83cb;
	--color-platform-sponge: #c49528;
	--color-platform-ornithe: #6097ca;
	--color-platform-bta-babric: #5ba938;
	--color-platform-legacy-fabric: #6879f6;
	--color-platform-nilloader: #dd5088;

	--hover-brightness: 0.9;
}

html {
	@extend .light-properties;
	--dark-color-base: #b0bac5;
	--dark-color-contrast: #ecf9fb;

	--gap-xs: 0.25rem;
	--gap-sm: 0.5rem;
	--gap-md: 0.75rem;
	--gap-lg: 1rem;
	--gap-xl: 1.5rem;

	--radius-xs: 0.25rem;
	--radius-sm: 0.5rem;
	--radius-md: 0.75rem;
	--radius-lg: 1rem;
	--radius-xl: 1.25rem;
	--radius-max: 999999999px;

	--color-tooltip-text: var(--dark-color-contrast);
	--color-tooltip-bg: #000;

	--color-ad: rgba(125, 75, 162, 0.2);
	--color-ad-raised: rgba(190, 140, 243, 0.5);
	--color-ad-contrast: black;
	--color-ad-highlight: var(--color-purple);

	--color-link: var(--color-blue) !important;
	--color-link-hover: var(--color-blue) !important; // DEPRECATED, use filters in future
	--color-link-active: var(--color-blue) !important; // DEPRECATED, use filters in future
}

.light-mode,
.light {
	@extend .light-properties;
}

.dark-mode,
.dark,
:root[data-theme='dark'] {
	--color-bg: #16181c;
	--color-raised-bg: #26292f;
	--color-super-raised-bg: #40434a;
	--color-button-bg: #33363d;
	--color-button-border: rgba(193, 190, 209, 0.12);
	--color-scrollbar: var(--color-button-bg);

	--color-divider: var(--color-button-bg);
	--color-divider-dark: #646c75;

	--color-base: var(--dark-color-base);
	--color-secondary: #96a2b0;
	--color-contrast: var(--dark-color-contrast);
	--color-accent-contrast: #000000;

	--color-red: oklch(67.504% 0.21702 13.672);
	--color-red-50: oklch(100% 0 none);
	--color-red-100: oklch(95.931% 0.02124 3.0767);
	--color-red-200: oklch(87.448% 0.07041 4.2178);
	--color-red-300: oklch(79.721% 0.12111 7.2525);
	--color-red-400: oklch(72.855% 0.17298 9.6403);
	--color-red-500: oklch(67.504% 0.21702 13.672);
	--color-red-600: oklch(63.543% 0.2508 21.162);
	--color-red-700: oklch(55.666% 0.2247 23.054);
	--color-red-800: oklch(44.556% 0.17962 22.374);
	--color-red-900: oklch(32.714% 0.13145 20.426);
	--color-red-950: oklch(26.382% 0.10578 18.735);

	--color-orange: oklch(79.232% 0.15079 62.215);
	--color-orange-50: oklch(100% 0 none);
	--color-orange-100: oklch(97.496% 0.01812 70.245);
	--color-orange-200: oklch(92.45% 0.05334 67.086);
	--color-orange-300: oklch(87.825% 0.08767 66.27);
	--color-orange-400: oklch(83.265% 0.12128 64.429);
	--color-orange-500: oklch(79.232% 0.15079 62.215);
	--color-orange-600: oklch(74.291% 0.1802 55.302);
	--color-orange-700: oklch(64.222% 0.16237 53.305);
	--color-orange-800: oklch(51.546% 0.12847 54.455);
	--color-orange-900: oklch(38.035% 0.09224 56.795);
	--color-orange-950: oklch(30.833% 0.0729 59.177);

	--color-green: oklch(77.601% 0.20683 150.32);
	--color-green-50: oklch(91.992% 0.08269 158.23);
	--color-green-100: oklch(90.283% 0.10205 157.8);
	--color-green-200: oklch(86.862% 0.13857 156.47);
	--color-green-300: oklch(84.151% 0.17171 154.41);
	--color-green-400: oklch(81.65% 0.19801 152.19);
	--color-green-500: oklch(77.601% 0.20683 150.32);
	--color-green-600: oklch(63.906% 0.16796 150.67);
	--color-green-700: oklch(49.417% 0.12753 150.94);
	--color-green-800: oklch(33.775% 0.08243 152.28);
	--color-green-900: oklch(15.945% 0.02977 161.35);
	--color-green-950: oklch(0% 0 none);

	--color-blue: oklch(69.042% 0.165 255.81);
	--color-blue-50: oklch(100% 0 none);
	--color-blue-100: oklch(97.662% 0.01133 252.09);
	--color-blue-200: oklch(90.161% 0.04865 254.08);
	--color-blue-300: oklch(82.86% 0.08683 255.07);
	--color-blue-400: oklch(75.741% 0.12626 255.25);
	--color-blue-500: oklch(69.042% 0.165 255.81);
	--color-blue-600: oklch(60.893% 0.21346 258.05);
	--color-blue-700: oklch(52.569% 0.20596 259.22);
	--color-blue-800: oklch(42.616% 0.16415 258.87);
	--color-blue-900: oklch(32.28% 0.1181 257.73);
	--color-blue-950: oklch(26.81% 0.09341 256.53);

	--color-purple: oklch(73.974% 0.17277 306.71);
	--color-purple-50: oklch(100% 0 none);
	--color-purple-100: oklch(100% 0 none);
	--color-purple-200: oklch(100% 0 none);
	--color-purple-300: oklch(91.963% 0.05063 308.45);
	--color-purple-400: oklch(82.806% 0.11213 308.11);
	--color-purple-500: oklch(73.974% 0.17277 306.71);
	--color-purple-600: oklch(63.332% 0.24523 303.97);
	--color-purple-700: oklch(55.731% 0.28718 298.86);
	--color-purple-800: oklch(48.813% 0.26696 295.71);
	--color-purple-900: oklch(39.636% 0.21576 296.52);
	--color-purple-950: oklch(34.784% 0.18898 296.86);

	--color-gray: oklch(71.947% 0.02244 271.09);
	--color-gray-50: oklch(100% 0 none);
	--color-gray-100: oklch(98.538% 0.00132 286.38);
	--color-gray-200: oklch(92.152% 0.00582 264.53);
	--color-gray-300: oklch(85.532% 0.01123 274.87);
	--color-gray-400: oklch(78.912% 0.01614 269.94);
	--color-gray-500: oklch(71.947% 0.02244 271.09);
	--color-gray-600: oklch(62.194% 0.03093 272.26);
	--color-gray-700: oklch(52.645% 0.03231 272.1);
	--color-gray-800: oklch(43.25% 0.02562 270.76);
	--color-gray-900: oklch(33.012% 0.01814 272.19);
	--color-gray-950: oklch(27.82% 0.01501 274.31);

	--color-red-highlight: rgba(255, 73, 110, 0.25);
	--color-orange-highlight: rgba(255, 163, 71, 0.25);
	--color-green-highlight: rgba(27, 217, 106, 0.25);
	--color-blue-highlight: rgba(79, 156, 255, 0.25);
	--color-purple-highlight: rgba(199, 138, 255, 0.25);
	--color-gray-highlight: rgba(159, 164, 179, 0.25);

	--color-red-bg: rgba(255, 73, 110, 0.2);
	--color-orange-bg: rgba(255, 163, 71, 0.2);
	--color-green-bg: rgba(27, 217, 106, 0.2);
	--color-blue-bg: rgba(79, 156, 255, 0.2);
	--color-purple-bg: rgba(199, 138, 255, 0.2);

	--color-brand: var(--color-green);
	--color-brand-highlight: rgba(27, 217, 106, 0.25);
	--color-brand-shadow: rgba(27, 217, 106, 0.7);

	--shadow-inset-lg: inset 0px -2px 2px hsla(221, 39%, 11%, 0.1);
	--shadow-inset: inset 0px -2px 2px hsla(221, 39%, 11%, 0.05);
	--shadow-inset-sm: inset 0px -1px 1px hsla(221, 39%, 11%, 0.25);

	--shadow-raised-lg: 0px 2px 4px hsla(221, 39%, 11%, 0.2);
	--shadow-raised: 0px -2px 4px hsla(221, 39%, 11%, 0.1);
	--shadow-floating: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px,
		hsla(0, 0%, 0%, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

	--shadow-card: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;

	--brand-gradient-bg: linear-gradient(0deg, rgba(14, 35, 19, 0.2) 0%, rgba(55, 137, 73, 0.1) 100%);
	--brand-gradient-strong-bg: linear-gradient(270deg, #09110d 10%, #131f17 100%);
	--brand-gradient-button: rgba(255, 255, 255, 0.08);
	--brand-gradient-border: rgba(155, 255, 160, 0.08);
	--brand-gradient-fade-out-color: linear-gradient(to bottom, rgba(24, 30, 31, 0), #171d1e 80%);

	--color-button-bg-selected: var(--color-brand-highlight);
	--color-button-text-selected: var(--color-brand);

	--color-gradient-button-bg: linear-gradient(180deg, #3a3d47 0%, #33363d 100%);

	--loading-bar-gradient: linear-gradient(to right, var(--color-brand) 0%, #1ffa9a 100%);

	--color-platform-fabric: #dbb69b;
	--color-platform-quilt: #c796f9;
	--color-platform-forge: #959eef;
	--color-platform-neoforge: #f99e6b;
	--color-platform-liteloader: #7ab0ee;
	--color-platform-bukkit: #f6af7b;
	--color-platform-bungeecord: #d2c080;
	--color-platform-folia: #a5e388;
	--color-platform-paper: #eeaaaa;
	--color-platform-purpur: #c3abf7;
	--color-platform-spigot: #f1cc84;
	--color-platform-velocity: #83d5ef;
	--color-platform-waterfall: #78a4fb;
	--color-platform-sponge: #f9e580;
	--color-platform-ornithe: #87c7ff;
	--color-platform-bta-babric: #72cc4a;
	--color-platform-legacy-fabric: #6879f6;
	--color-platform-nilloader: #f45e9a;

	--hover-brightness: 1.25;
}

.oled-mode {
	@extend .dark-mode;
	--color-bg: #000000;
	--color-raised-bg: #101013;
	--color-button-bg: #222329;

	--color-ad: #0d1828;

	--brand-gradient-bg: linear-gradient(
		0deg,
		rgba(22, 66, 51, 0.15) 0%,
		rgba(55, 137, 73, 0.1) 100%
	);
	--brand-gradient-strong-bg: linear-gradient(
		270deg,
		rgba(9, 18, 14, 0.6) 10%,
		rgba(19, 31, 23, 0.5) 100%
	);

	--color-gradient-button-bg: linear-gradient(180deg, #1b1b20 0%, #25262b 100%);
}

.retro-mode {
	--brand-gradient-strong-bg: #3a3b38;
}
