# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.md]
indent_size = 2
max_line_length = off

[*.{toml,json}]
indent_size = 2

# YAML requires space indentation by spec
[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.rs]
indent_style = space
