.DS_Store
node_modules/
build/
.svelte-kit/
package/
.env
.env.*
!.env.example
.vercel
generated/
.githooks/
.github/
.idea/
.vscode/
docs/
generated/
locales/
.eslintrc.cjs
.gitignore
.gitmodules
.npmignore
.npmrc
.prettierignore
.prettierrc
postcss.config.cjs
mdsvex.config.js
svelte.config.js
tsconfig.json
pnpm-lock.yaml

src/