[Desktop Entry]
Name=Modrinth App
Comment=Modrinth's game launcher for creating and playing Modrinth projects
Exec=modrinth-app
Icon=com.modrinth.ModrinthApp
Type=Application
Terminal=false
StartupNotify=true
Categories=Game;ActionGame;AdventureGame;Simulation;
Keywords=game;minecraft;mc;
StartupWMClass=ModrinthApp
Version=1.4
