.creation-main {
    margin: 10px auto;
    width: 75%;
    display: flex;
    flex-direction: column;
}

progress::-webkit-progress-value { background: #0b75d8; }
progress::-moz-progress-bar { background: #0b75d8; }

.creation-progress-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;

    height: 20px;
    background: white;
    color: #0b75d8;

    margin: 10px 0 0 0;
}

.creation-parts-header {
    display: flex;
    flex-direction: row;
    color: #999;
}

.creation-parts-header a {
    text-align: center;
    width: 20%;
}

.creation-parts-header-active {
    color: #0b75d8 !important;
    font-weight: bold;
}

.creation-parts {
    margin-top: 30px;
}

.creation-part {
    padding: 5px;
}

.base-info label {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.info-display {
    display: flex;
    flex-direction: row;
}

.info-display-inputs {
    margin: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-body {
    margin-top: 20px;
}

.info-body textarea {
    width: 100%;
    height: 500px;
    resize: vertical;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.next-button {
    font-weight: bold;
    color: white;
    background-color: #69E781;
    border-radius: 5px;
    padding: 10px;
}

.draft-button {
    margin-right: 10px;
    font-weight: bold;
    color: wheat;
    background-color: #e1a15a;
    border-radius: 5px;
    padding: 10px;
}

.discard-button {
    margin-right: 10px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}