@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f2f0;
}

.main-flex {
    display: flex;
    flex-direction: row;
}

.muted {
    color: gray;
}

.temp-circle-logo {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20%;
}

.site-header {
    z-index: 2;
    position: sticky;
    background-color: #0b75d8;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}

.site-header h2 {
    color: white;
    font-weight: bolder;
    padding: 0 20px 0 10px;
}

.links-container {
    margin: 0 auto;
}
.links-container a {
    color: white;
    padding: 0 30px;
    text-decoration: none;
}

.rounded-border {
    border-radius: 10px;
    border: 1px;
}

.gray-border {
    border: 1px solid #a9a9a9;
}

.green {
    color: #69E781;
}