.main-content {
    margin: 30px 20px 0 auto;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.mod-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.mod-navigation p {
    transform:scale(1,2);
}

.navigation-pointer {
    color: gray;
    background-color: #dfdfdf;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.navigation-text {
    color: #0b75d8;
    background-color: #c9def2;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navigation-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #0b75d8;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin-left: auto;
    border-radius: 5px;
}

.navigation-follow img {
    height: 15px;
    margin-right: 10px;
}

.mod-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100px;
    background-color: white;
    margin: 0 0 20px 0;
}

.mod-icon {
    width: 70px;
    height: 70px;
    margin: 15px 10px 15px 25px;
}

.mod-title {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.mod-title-text {
    margin: 0;
    padding: 0;
}

.mod-title h2 {
    font-size: 24px;
}

.mod-title p {
    font-size: 18px;
}

.mod-bar {
    display: flex;
    flex-direction: row;
}

.mod-bar a {
    margin: 5px 10px 0 0;
    padding: 5px;
    color: gray;
    background-color: #fefefe;
    border-radius: 5px 5px 0 0;
    border: 1px solid darkgrey;
    border-bottom: none;
}

.mod-bar-active {
    background-color: white !important;
}

.mod-description {
    width: 100%;
    background-color: white;
    border-radius: 0 5px 5px 5px;
    border: 1px solid darkgrey;
}

.mod-description div {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

.mod-description img {
    max-width: 1000px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px auto 0 0;
    width: 20%;
}

.search-bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 10px 0;
}

.mod-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto !important;
    background-color: white;
}

.sidebar-entry {
    margin: 30px auto;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.sidebar-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.mod-info-entry {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

.mod-info-entry img {
    margin: 0 5px;
    height: 15px;
}

.mod-info-entry p {
    margin: 0 auto;
}

.sidebar-img {
    width: 20px !important;
    height: 20px !important;
    padding: 5px;
}

.donation-info img {
    height: 50px;
    object-fit: cover;
    width: 200px;
}

.categories {
    display: flex;
    flex-direction: row;
}

.categories img {
    width: 40px;
    margin: 0 10px;
}

.contributor-card {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 200px;
    margin: 5px 0;
}

.contributor-card img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contributor-card-text {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contributor-card-text a {
    text-decoration: none;
}

.sidebar-line {
    height: 1px;
    width: 80%;
    background-color: darkgrey;
    margin: 0 auto;
}
