.main-content {
    margin: 30px 20px 0 auto;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.mod-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.mod-navigation p {
    transform:scale(1,2);
}

.navigation-pointer {
    color: gray;
    background-color: var(--nav-background);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.navigation-text {
    color: var(--highlight);
    background-color: #c9def2;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navigation-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white-text);
    background-color: var(--highlight);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin-left: auto;
    border-radius: 5px;
}

.navigation-follow img {
    height: 15px;
    margin-right: 10px;
}

.mod-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100px;
    background-color: var(--content-background);
    margin: 0 0 20px 0;
}

.mod-icon {
    width: 70px;
    height: 70px;
    margin: 15px 10px 15px 25px;
}

.mod-title {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.mod-title-text {
    margin: 0;
    padding: 0;
}

.mod-title h2 {
    font-size: 24px;
}

.mod-title p {
    font-size: 18px;
}

.mod-bar {
    display: flex;
    flex-direction: row;
}

.mod-bar-href {
    margin: 5px 10px 0 0;
    padding: 5px 10px;
    color: gray;
    background-color: var(--mod-bar);
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--border);
    border-bottom: none !important;
    text-decoration: none;
    cursor: pointer;
}

.mod-bar-active {
    color: var(--highlight) !important;
    font-weight: bold;
    background-color: var(--content-background) !important;
}

.mod-hide {
    display: none !important;
}

.mod-show {
    display: block;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px auto 0 0;
    width: 15%;
}

.search-bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--content-text);
	background-color: var(--content-background);
	border-color: var(--border);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 10px 0;
}

.mod-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto !important;
    background-color: var(--content-background);
}

.sidebar-entry {
    margin: 30px auto;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.sidebar-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.mod-info-entry {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

.mod-info-entry img {
    margin: 0 5px;
    height: 15px;
}

.mod-info-entry p {
    margin: 0 auto;
}

.sidebar-img {
    width: 20px !important;
    height: 20px !important;
    padding: 5px;
}

.donation-info img {
    height: 50px;
    object-fit: cover;
    width: 200px;
}

.categories {
    display: flex;
    flex-direction: row;
}

.categories img {
    width: 40px;
    margin: 0 10px;
}

.contributor-card {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 200px;
    margin: 5px 0;
}

.contributor-card img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contributor-card-text {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contributor-card-text a {
    text-decoration: none;
}

.sidebar-line {
    height: 1px;
    width: 80%;
    background-color: var(--border);
    margin: 0 auto;
}

.download {
    color: var(--white-text);
    padding: 10px 5px;
    margin-bottom: 5px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.download-primary {
    background-color: var(--highlight);
}

.download-normal {
    background-color: #949494;
}

.mod-main {
    padding: 5px;
    margin-top: 0px;
    width: 100%;
    background-color: var(--content-background);
    border-radius: 0 5px 5px 5px;
    border: 1px solid var(--border);
    font-size: 16px;
    line-height: 20px;
}

.mod-description {
    margin: 0 auto;
    padding: 5px;
}

.mod-description img {
    max-width: 1000px;
}

.files-search {
    margin-top: 0px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.files-search-bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 90%;
    padding: 10px 0;
}

.files-versions {
    height: 33px;
    width: 10%;
    margin-left: auto;
}

.api {
    margin-top: 0;
    width: 100%;
    background-color: var(--content-background);
    border-radius: 0 5px 5px 5px;
    border: 1px solid var(--border);
    font-size: 16px;
    line-height: 20px;
}

.api-container {
    padding: 10px;
}

.api-code-block {
    margin-top: 4px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 5px 5px 5px;
}

.extra-top {
    margin-top: 5px !important;
}
