.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.categories-flex {
    position: sticky;
    width: 25%;
}

.categories {
    position: relative;
    top: 100px;
    padding: 5px;
}

.categories-label {
    color: white;
    background-color: black;
    padding-left: 10px;
}

.category-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    padding: 2px 5px;
    cursor: pointer;
    width: 165px;
    margin-left: auto;
    margin-right: 20px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category-badge img {
    height: 23px;
}

.category-badge p {
    margin: 0 auto;
    font-weight: bolder;
    text-transform: capitalize;
}

.category-ghost {
    margin-left: 10px;
}

.search-bar {
    position: -webkit-sticky !important;
    position: sticky !important;
    height: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    top: 80px;
    width: 100%;
}

.mod-info {
    padding-top: 5px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mod-info img {
    height: 12px;
    padding: 0;
}

.mod-info p {
    font-size: 12px;
    padding: 0 15px 0 5px !important;
}

.results {
    width: 100%;
    margin: auto;
}

.result {
    display: flex;
    height: 100px;
    margin: 15px auto;
    padding: 5px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.result-image {
    padding: 0 10px 0 5px;
}

.result-info {
    display: flex;
    flex-direction: column;
}

.result-info * {
    padding: 0 5px 0 0;
    margin: 0;
}

.result-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.result-badges {
    margin: 0 1em 20px auto;
    align-self: center;
    height: 75px;
    display: flex;
    flex-direction: column;
}

.result-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    margin: 2px 0;
    padding: 2px 5px;
    width: 155px;
}

.result-badge img {
    height: 23px;
}

.result-badge p {
    margin: 0 auto;
    font-weight: bolder;
    text-transform: capitalize;
}

.download-badge {
    background-color: limegreen;
    color: white;
}

.forge-badge {
    color: #e1a15a;
    background-color: #1e2d44;
}

.fabric-badge {
    color: #585849;
    background-color: #fffdd0;
}

.tech-badge {
    color: white;
    background-color: red;
}

.adventure-badge {
    color: white;
    background-color: saddlebrown;
}

.magic-badge {
    color: white;
    background-color: rebeccapurple;
}

.utility-badge {
    color: white;
    background-color: orangered;
}

.decoration-badge {
    color: white;
    background-color: #2f92d8;
}

.world-badge {
    background-color: yellow;
}

.library-badge {
    color: white;
    background-color: orange;
}

.cursed-badge {
    color: white;
    background-color: palevioletred;
}