.clear-button {
    margin: 30px auto 0 40px;
    height: 33px;
    width: 175px;

	color: var(--content-text);
    background-color: var(--content-background);
    border-radius: 5px;
    border: 1px solid var(--border);
}

.versions {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.version-type {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: auto;
}

.version-scroll {
    height: 400px;
    overflow-y: scroll;
}

.version-type-label {
    width: 165px;
    height: 25px;
    margin-bottom: 0;
    padding: 2px 5px;
    cursor: pointer;

    font-weight: bold;
    color: white;
    background-color: black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.version {
    height: 25px;
    padding: 2px 5px;
    cursor: pointer;
    width: 152px;
    margin: 0;

    font-weight: bold;
    color: var(--content-text);
    background-color: var(--content-background);
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-flex {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.filters {
    margin-top: 30px;
    margin-right: 25px;
    margin-left: auto;
}

.filters select {
    height: 33px;
    width: 175px;
    text-align: center;

    border-radius: 5px;
    padding: 0 10px;
	color: var(--content-text);
    background-color: var(--content-background);
    background-image: none;
    border: 1px solid var(--border);
}

.categories {
    margin-top: 30px;
    padding: 5px;
    margin-right: 20px;
    margin-left: auto;
}

.categories-label {
    color: white;
    background-color: black;
    padding-left: 10px;
}

.category-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    padding: 2px 5px;
    cursor: pointer;
    width: 165px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category-badge img {
    height: 23px;
}

.category-badge p {
    margin: 0 auto;
    font-weight: bolder;
    text-transform: capitalize;
}

.category-ghost {
    margin-left: 10px;
}

.search-main {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.search-bar {
    position: -webkit-sticky !important;
    position: sticky !important;
	color: var(--content-text);
	background-color: var(--content-background);
	border-color: var(--border);
    height: 2em;
    margin: 30px auto 15px auto;
    top: 80px;
    width: calc(100% - 20px);
    display: block;
}

.mod-info {
    padding-top: 5px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.mod-info img {
    height: 12px;
    padding: 0;
}

.mod-info span {
    font-size: 12px;
    padding-right: 15px;
    white-space: nowrap;
}
.mod-info > span > img {
    padding-right: 5px;
    vertical-align: top;
}
.loader-icons > * {
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
}
.loader-icons img {
    padding-right: 5px;
}

.results {
    width: 100%;
    margin: 0 auto;
}

.search-error {
    text-align: center;
    word-break: break-word;
}
.result {
    display: flex;
    min-height: 100px;
    margin: 15px 5px;
    padding: 5px;
    width: calc(100% - 20px);
    flex-direction: row;
    align-items: center;
    background-color: var(--content-background);
}

.result-image {
    object-fit: scale-down;
    padding: 0 10px 0 5px;
    min-width: 75px;
}
.badge-image {
    object-fit: scale-down;
    padding: 0 10px 0 5px;
}

.result-info {
    display: flex;
    flex-direction: column;
}

.result-info > * {
    padding: 0 5px 0 0;
    margin: 0;
}

.result-title {
    text-decoration: none;
}
.result-title * {
    display: inline;
    padding-right: 5px;
}
.result-name > * {
    margin: 0;
}
.result-author-container {
    white-space: nowrap;
    display: inline-block;
}

@media screen and (max-width: 1340px) {
    .result-badge.result-badge {
        width: initial;
    }
    .result-badge > p {
        display: none;
    }
}

.result-name {
    text-decoration: none;
    color: var(--highlight);
}

.result-author {
    text-decoration: none;
    color: #2f92d8;
}

.result-badges {
    margin: 0 1em 20px auto;
    align-self: center;
    height: 75px;
    display: flex;
    flex-direction: column;
}

.result-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    margin: 2px 0;
    padding: 2px 5px;
    width: 155px;
}

.result-badge img {
    height: 23px;
}

.result-badge p {
    margin: 0 auto;
    font-weight: bolder;
    text-transform: capitalize;
}

.download-badge {
    background-color: limegreen;
    color: white;
}

.forge-badge {
    color: #e1a15a;
    background-color: #1e2d44;
}

.forge-badge img {
    width: 23px;
}

.fabric-badge {
    color: #585849;
    background-color: #fffdd0;
}

.tech-badge {
    color: white;
    background-color: var(--tech-color);
}

.adventure-badge {
    color: white;
    background-color: var(--adventure-color);
}

.magic-badge {
    color: white;
    background-color: var(--magic-color);
}

.utility-badge {
    color: white;
    background-color: var(--utility-color);
}

.decoration-badge {
    color: white;
    background-color: var(--decoration-color);
}

.world-badge {
	color: white;
	background-color: var(--world-color);
}

.library-badge {
    color: white;
    background-color: var(--library-color);
}

.cursed-badge {
    color: white;
    background-color: var(--cursed-color);
}

.cursed-badge img {
    margin-left: 5px;
}

.misc-badge {
    color: white;
    background-color: var(--misc-color);
}

.storage-badge {
    color: white;
    background-color: var(--storage-color);
}


.food-badge {
    color: white;
    background-color: var(--food-color);
}

.equipment-badge {
    color: white;
    background-color: var(--equipment-color);
}

.forge {
	height: 12px;
	fill: var(--forge-color);
}

.back-to-top {
    position: fixed;
    top: 80%;
    /* left column = 25%, width ~= 90px, left column padding = 20px */
    left: calc(25% - 90px - 20px);
    background-color: var(--highlight);
    text-align: center;
    padding: 20px;
    display: none;
}

.back-to-top img {
    width: 50px;
    height: 50px;
}