.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-gap: 0.5rem;
    flex-wrap: wrap;
    margin-left: auto;
    min-width: fit-content;

    > *:last-child {
        margin-top: auto;
        color: var(--color-text-light);
    }

    @media (width <= 1000px) {
        flex-direction: row;
        align-items: flex-start;
        margin-left: unset;
    }
}