.illustration {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;

    &__image {
        max-width: 300px;
    }

    &__description {
        font-size: 1.2rem;
        color: var(--color-text-light)
    }
}