.info-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25rem 2rem;
    width: fit-content;

    &__label {
        color: var(--color-text-lightest);
        font-weight: var(--font-weight-medium);
    }
}