.stat {
    display: flex;
    align-items: baseline;
    grid-gap: 0.4rem;

    &--light {
        color: var(--color-text-lightest);
    }

    .icon {
        align-self: center;
    }

    strong {
        font-size: 20px;
    }
}

.stat-group {
    display: flex;
    grid-gap: 0.5rem;
    flex-wrap: wrap;
}
