.stat {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;

	&--light {
		color: var(--color-text-lightest);
	}

	.icon {
		align-self: center;
	}

	strong {
		font-size: var(--font-size-lg);
	}
}

.stat-group {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}
