.tag {
	display: flex;
	align-items: center;
	grid-gap: 0.25rem;
	color: var(--color-text-lightest);

	svg {
		width: 1rem;
		height: auto;
	}
}

.tag-group {
	display: inline-flex;
	flex-wrap: wrap;
	margin-top: auto;
	grid-gap: 0.25rem 0.6rem;
}
