.title-primary {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
}

.title-secondary {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
}

.title-tertiary {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
}
