.theme-oled {
	@extend .theme-dark;

	/* Container colors */
	--color-bg: hsl(220, 13%, 0%);
	--color-raised-bg: hsl(220, 13%, 10%);
	--color-divider: hsl(220, 13%, 30%);
	--color-button-bg: hsl(220, 13%, 20%);

	/* Ad colors */
	--color-ad-bg: hsl(200, 70%, 15%);
	--color-ad-link: hsl(200, 70%, 45%);
}
