.illustration {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	&__image {
		max-width: 18.5rem;
	}

	&__description {
		font-size: var(--font-size-lg);
		color: var(--color-text-light);
	}
}
