.link {
	color: var(--color-link);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	line-height: 100%;

	&:hover {
		text-decoration: underline;
	}
}

.link-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;

	.link {
		color: var(--color-text);
		margin-right: 1rem;

		&:hover {
			color: var(--color-link);
		}
	}
}
