.member {
	display: flex;
	gap: 1rem;

	border-radius: var(--rounded-sm);
	padding: 0.5rem;
	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: var(--color-button-bg);
	}

	&__info {
		display: flex;
		flex-direction: column;
		margin-right: 0.5rem;

		&__link {
			font-weight: var(--font-weight-medium);
		}
	}
}
