html {
	--color-text-secondary: var(--color-icon);
}

// TO BE MOVED TO OMORPHIA
:root {
	--gap-2: 0.125rem;
	--gap-4: calc(2 * var(--gap-2));
	--gap-6: calc(3 * var(--gap-2));
	--gap-8: calc(2 * var(--gap-4));
	--gap-12: calc(3 * var(--gap-4));
	--gap-16: calc(2 * var(--gap-8));
	--gap-24: calc(3 * var(--gap-8));

	--radius-card: 4px;

	--radius-btn: 4px;
	--radius-btn-large: 4px;
	--radius-btn-circle: 4px;

	--text-14: 0.875rem;
	--text-16: 1rem;
	--text-18: 1.125rem;
	--text-24: 1.5rem;
	--text-32: 2rem;

	--weight-normal: 500; // used for general body text
	--weight-bold: 600; // used for text needing extra emphasis
	--weight-extrabold: 800; // used for main titles and headings

	--icon-14: 0.875rem; // used for icons inside a small container alongside a label
	--icon-16: 1rem; // used for normal-sized icons alongside a label
	--icon-20: 1.25rem; // used for icons in normal sized buttons
	--icon-24: 1.5rem; // used for icons that are used as a primary label or in large buttons
	--icon-32: 2rem;

	interpolate-size: allow-keywords;
	scrollbar-gutter: stable;
}

.light-mode {
	--color-icon: var(--color-secondary);
	--color-text: hsl(221, 39%, 11%);
	--color-text-inactive: hsl(215, 14%, 34%);
	--color-text-dark: #1a202c;
	--color-heading: #2c313d;

	--color-text-inverted: var(--color-bg);
	--color-bg-inverted: var(--color-text);

	--color-brand-inverted: #ffffff;

	--tab-underline-hovered: #e2e8f0;

	--color-button-text: var(--color-text-dark);
	--color-button-bg-hover: #d9dce0;
	--color-button-text-hover: #1b1e24;
	--color-button-bg-active: #c3c6cb;
	--color-button-text-active: var(--color-button-text-hover);

	--color-dropdown-bg: var(--color-button-bg);
	--color-dropdown-text: var(--color-button-text);

	--color-code-bg: var(--color-bg);
	--color-code-text: var(--color-text-dark);

	--color-kbd-shadow: rgba(0, 0, 0, 0.25);

	--color-grey-link: var(--color-text);
	--color-grey-link-hover: var(--color-heading);
	--color-grey-link-active: var(--color-text-dark);

	--color-warning-bg: hsl(355, 70%, 88%);
	--color-warning-text: hsl(342, 70%, 35%);

	--color-warning-banner-text: hsl(0, 11%, 16%);
	--color-warning-banner-bg: hsl(0, 100%, 95%);
	--color-warning-banner-side: hsl(357, 78%, 40%);

	--color-info-banner-text: var(--color-text);
	--color-info-banner-bg: var(--color-ad);
	--color-info-banner-side: var(--color-blue);

	--color-block-quote: var(--color-tooltip-bg);
	--color-header-underline: var(--color-divider-dark);
	--color-hr: var(--color-text);

	--color-table-border: #dfe2e5;
	--color-table-alternate-row: #f0f1f2;

	--landing-maze-bg: url('https://cdn.modrinth.com/landing-new/landing-light.webp');
	--landing-maze-gradient-bg: url('https://cdn.modrinth.com/landing-new/landing-lower-light.webp');
	--landing-maze-outer-bg: linear-gradient(180deg, #f0f0f0 0%, #ffffff 100%);

	--landing-color-heading: #000;
	--landing-color-subheading: #3a3f45;

	--landing-transition-gradient-start: rgba(255, 255, 255, 0);
	--landing-transition-gradient-end: #ffffff;
	--landing-hover-card-gradient: radial-gradient(
		50% 50% at 50% 50%,
		#fff 0%,
		rgba(204, 204, 204, 0.77) 100%
	);
	--landing-border-gradient: linear-gradient(
		to bottom right,
		rgba(129, 137, 175, 0.75) 0%,
		rgba(66, 71, 97, 0.34) 100%
	);
	--landing-border-color: rgba(129, 137, 175, 0.55);
	--landing-creator-gradient: linear-gradient(180deg, #f8f8f8 0%, #f8f8f8 63.19%);

	--landing-blob-gradient: radial-gradient(
		50% 50% at 50% 50%,
		rgba(255, 255, 255, 0.35) 0%,
		rgba(255, 255, 255, 0.2695) 100%
	);
	--landing-blob-shadow:
		2px 2px 12px rgba(0, 0, 0, 0.16), inset 2px 2px 64px rgba(255, 255, 255, 0.45);

	--landing-card-bg: rgba(255, 255, 255, 0.8);
	--landing-card-shadow: 2px 2px 12px rgba(0, 0, 0, 0.16);

	--landing-blue-label: #0098ba;
	--landing-blue-label-bg: rgba(0, 177, 216, 0.15);
	--landing-green-label: #00a936;
	--landing-green-label-bg: rgba(0, 216, 69, 0.15);

	--landing-raw-bg: #fff;

	--medal-promotion-bg: #fff;
	--medal-promotion-bg-orange: #48aaff;
	--medal-promotion-text-orange: #156db8;
	--medal-promotion-bg-gradient: linear-gradient(
		90deg,
		rgba(152, 207, 255, 0.2) 20%,
		rgba(152, 207, 255, 0.1) 100%
	);

	--banner-error-bg: #fee2e2;
	--banner-error-text: #991b1b;
	--banner-error-border: #ef4444;

	--banner-warning-bg: #ffedd5;
	--banner-warning-text: #713f12;
	--banner-warning-border: #f97316;

	--banner-info-bg: #dbeafe;
	--banner-info-text: #1e3a8a;
	--banner-info-border: #3b82f6;
}

body {
	// Defaults
	background-color: var(--color-bg);
	color: var(--color-text);
	--font-standard: Arial, Helvetica, Verdana, Tahoma, sans-serif;
	--mono-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	font-family: var(--font-standard);
	font-size: 16px;
	font-weight: var(--font-weight-regular);
	margin: 0;
	padding: 0;

	// Rounding sizes
	--size-rounded-xs: 0.5rem;
	--size-rounded-sm: 0.75rem;
	--size-rounded-md: 1rem;
	--size-rounded-lg: 1.25rem;

	--size-rounded-max: 999999999px;
	--size-rounded-card: 1rem;
	--size-rounded-icon: 1rem;
	--size-rounded-control: 0.25rem;
	--size-rounded-tooltip: 0.25rem;

	--size-navbar-height: 3.5rem;
	--size-mobile-navbar-height: 3.5rem;
	--size-mobile-navbar-height-expanded: 26.5rem;

	--spacing-card-lg: 1.5rem;
	--spacing-card-bg: 1rem;
	--spacing-card-md: 0.75rem;
	--spacing-card-sm: 0.5rem;
	--spacing-card-xs: 0.25rem;

	// Font Sizes
	--font-size-xxs: 0.625rem; //10px
	--font-size-xs: 0.75rem; //12px
	--font-size-sm: 0.875rem; //14px
	--font-size-nm: 1rem; //16px
	--font-size-md: 1.125rem; //18px
	--font-size-lg: 1.25rem; //20px
	--font-size-xl: 1.5rem; //24px
	--font-size-2xl: 2rem; //32px
	--font-size-3xl: 3rem; //48px

	// Font Weights
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;

	--font-weight-text: var(--font-weight-medium);
	--font-weight-heading: var(--font-weight-extrabold);
	--font-weight-title: var(--font-weight-extrabold);

	@media screen and (min-width: 354px) {
		--size-mobile-navbar-height-expanded: 15.5rem;
	}
}

svg {
	height: 1em;
	width: 1em;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	color: var(--color-text-primary);
}

h2 {
	margin-top: 0;
	margin-bottom: 1rem;
	color: var(--color-text-primary);
}

h3 {
	margin-block: var(--spacing-card-md) var(--spacing-card-sm);
	color: var(--color-text-primary);
}

pre {
	font-weight: var(--font-weight-regular);
}

kbd {
	background-color: var(--color-code-bg);
	color: var(--color-code-text);
	box-shadow: 0 2px 1px var(--color-kbd-shadow);
	padding: 0.2em 0.5em 0.1em;
	border-radius: 3px;
	line-height: 1;
	font-size: 0.85em !important;
}

@import '~/assets/styles/layout.scss';
@import '~/assets/styles/utils.scss';
@import '~/assets/styles/components.scss';

// OMORPHIA FIXES
.card {
	outline-offset: -2px;
}

input:not([type='radio']):not([type='checkbox']) {
	outline: 2px solid transparent !important;
}

.button-animation {
	transition:
		opacity 0.5s ease-in-out,
		filter 0.2s ease-in-out,
		transform 0.05s ease-in-out,
		outline-width 0.2s ease-in-out;
}

.button-transparent {
	box-shadow: none;
}
