// Here lies ğ–„ğ–Š ğ•¸ğ–†ğ–—ğ–Œğ–ğ–“ ğ•¸ğ–†ğ–Œğ–ğ–ˆ
// which allows to have just one wrapper div
.iconified-input {
  align-items: center;
  display: inline-flex;
  flex-direction: row-reverse;

  input {
    padding-left: 2.5rem;

    &:hover {
      &+svg {
        color: var(--color-grey-6);
      }
    }

    &:focus {
      &+svg {
        color: var(--color-text);
      }
    }
  }

  svg {
    color: var(--color-grey-5);
    margin-right: -2rem;
  }
}

.badge {
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
  padding: 0.25rem 0.5rem;

  &.red {
    background-color: #fed7d7;
    color: #9b2c2c;
  }

  &.green {
    background-color: #c6f6d5;
    color: #276749;
  }

  &.yellow {
    background-color: #f6e8c6;
    color: #675027;
  }
}
