html {
  @extend .light-mode;
  --dark-color-text: #b0bac5;
  --dark-color-text-dark: #ecf9fb;
}

.light-mode {
  --color-icon: #6b7280;
  --color-text: hsl(221, 39%, 11%);
  --color-text-secondary: var(--color-icon);
  --color-text-inactive: hsl(215, 14%, 34%);
  --color-text-dark: #1a202c;
  --color-heading: #2c313d;
  --color-bg: #e5e7eb;
  --color-raised-bg: #ffffff;
  --color-divider: hsl(220, 13%, 91%);
  --color-divider-dark: #c8cdd3;

  --color-text-inverted: var(--color-bg);
  --color-bg-inverted: var(--color-text);

  --color-brand: #00af5c;
  --color-brand-highlight: rgba(0, 175, 92, 0.25);
  --color-brand-shadow: rgba(0, 175, 92, 0.7);
  --color-brand-inverted: #ffffff;

  --tab-underline-hovered: #e2e8f0;

  --color-button-bg: hsl(220, 13%, 91%);
  --color-button-text: var(--color-text-dark);
  --color-button-bg-hover: #d9dce0;
  --color-button-text-hover: #1b1e24;
  --color-button-bg-active: #c3c6cb;
  --color-button-text-active: var(--color-button-text-hover);

  --color-toggle-handle: var(--color-icon);

  --color-dropdown-bg: var(--color-button-bg);
  --color-dropdown-text: var(--color-button-text);

  --color-tooltip-bg: var(--color-text);
  --color-tooltip-text: var(--color-bg);

  --color-code-bg: var(--color-bg);
  --color-code-text: var(--color-text-dark);

  --color-kbd-shadow: rgba(0, 0, 0, 0.25);

  --color-ad: #d6e6f9;
  --color-ad-raised: #b1c8e4;

  --color-grey-link: var(--color-text);
  --color-grey-link-hover: var(--color-heading);
  --color-grey-link-active: var(--color-text-dark);
  --color-link: #0d60bb;
  --color-link-hover: #1a76e7;
  --color-link-active: #146fd7;

  --color-badge-gray-text: #646161;
  --color-badge-gray-bg: #c8c1c1;
  --color-badge-red-text: #6e1931;
  --color-badge-red-bg: #db3162;
  --color-badge-green-text: #184e38;
  --color-badge-green-bg: #24a54e;
  --color-badge-yellow-text: #755920;
  --color-badge-yellow-bg: #f7bb43;

  --color-warning-bg: hsl(355, 70%, 88%);
  --color-warning-text: hsl(342, 70%, 35%);

  --color-banner-text: hsl(0, 11%, 16%);
  --color-banner-bg: hsl(0, 100%, 95%);
  --color-banner-side: hsl(357, 78%, 40%);

  --color-block-quote: var(--color-tooltip-bg);
  --color-header-underline: var(--color-tooltip-text);
  --color-hr: var(--color-text);

  --color-table-border: #dfe2e5;
  --color-table-alternate-row: #f6f8fa;

  --shadow-inset-lg: inset 0px -2px 2px hsla(221, 39%, 11%, 0.1);
  --shadow-inset: inset 0px -2px 2px hsla(221, 39%, 11%, 0.05);
  --shadow-inset-sm: inset 0px -1px 2px hsla(221, 39%, 11%, 0.15);

  --shadow-raised-lg: 0px 2px 4px hsla(221, 39%, 11%, 0.2);
  --shadow-raised: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.15),
    1px 2px 2.2px -1.7px hsl(var(--shadow-color) / 0.12),
    4.4px 8.8px 9.7px -3.4px hsl(var(--shadow-color) / 0.09);
  --shadow-floating: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px,
  hsla(0, 0%, 0%, 0.1) 0px 4px 6px -1px, hsla(0, 0%, 0%, 0.1) 0px 2px 4px -1px;

  --shadow-card: rgba(50, 50, 100, 0.1) 0px 2px 4px 0px;
}

.dark-mode {
  --color-icon: #96a2b0;
  --color-text: var(--dark-color-text);
  --color-text-inactive: #929aa3;
  --color-text-dark: var(--dark-color-text-dark);
  --color-heading: #c4cfdd;
  --color-bg: #16181c;
  --color-raised-bg: #26292f;
  --color-divider: #474b54;
  --color-divider-dark: #646c75;

  --color-text-inverted: var(--color-bg);
  --color-bg-inverted: var(--color-text);

  --color-brand: #1bd96a;
  --color-brand-highlight: rgba(27, 217, 106, 0.25);
  --color-brand-shadow: rgba(27, 217, 106, 0.7);
  --color-brand-inverted: #000;

  --tab-underline-hovered: #414146;

  --color-button-bg: hsl(222, 13%, 30%);
  --color-button-text: var(--color-text);
  --color-button-bg-hover: #494f58;
  --color-button-text-hover: #ffffff;
  --color-button-bg-active: #616570;
  --color-button-text-active: var(--color-button-text-hover);

  --color-toggle-handle: var(--color-button-text);

  --color-dropdown-bg: var(--color-button-bg);
  --color-dropdown-text: var(--color-button-text);

  --color-tooltip-bg: var(--color-button-bg);
  --color-tooltip-text: var(--color-text);

  --color-code-bg: var(--color-button-bg);
  --color-code-text: var(--color-text-dark);

  --color-kbd-shadow: rgba(0, 0, 0, 0.35);

  --color-ad: #1f324a;
  --color-ad-raised: #2e4057;

  --color-link: #74b6f3;
  --color-link-hover: #92c0f5;
  --color-link-active: #b5d5fd;

  --color-badge-gray-bg: #646161;
  --color-badge-gray-text: #c8c1c1;
  --color-badge-red-text: #bd1a48;
  --color-badge-red-bg: #db3162;
  --color-badge-green-text: #1ebb7b;
  --color-badge-green-bg: #24a54e;
  --color-badge-yellow-text: #dba22d;
  --color-badge-yellow-bg: #f7bb43;

  --color-warning-bg: hsl(355, 70%, 20%);
  --color-warning-text: hsl(342, 70%, 75%);

  --color-banner-text: hsl(0, 100%, 96%);
  --color-banner-bg: hsl(356, 18%, 18%);
  --color-banner-side: hsl(357, 78%, 40%);

  --color-block-quote: var(--color-code-bg);
  --color-header-underline: var(--color-tooltip-text);
  --color-hr: var(--color-text);

  --color-table-border: #4f5864;
  --color-table-alternate-row: #262a30;

  --shadow-inset-lg: inset 0px -2px 2px hsla(221, 39%, 11%, 0.1);
  --shadow-inset: inset 0px -2px 2px hsla(221, 39%, 11%, 0.05);
  --shadow-inset-sm: inset 0px -1px 1px hsla(221, 39%, 11%, 0.25);

  --shadow-raised-lg: 0px 2px 4px hsla(221, 39%, 11%, 0.2);
  --shadow-raised: 0px -2px 4px hsla(221, 39%, 11%, 0.1);
  --shadow-floating: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px,
  hsla(0, 0%, 0%, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  --shadow-card: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
}

.oled-mode {
  @extend .dark-mode;
  --color-bg: #000000;
  --color-raised-bg: #101013;

  --color-button-bg: #222329;
  --color-button-bg-hover: #2d2d32;
  --color-button-bg-active: #3c3c40;
}

.midas-mode {
  @extend .dark-mode;
  --color-brand: #fac413;
  --color-brand-shadow: rgba(250, 196, 19, 0.7);
}

body {
  // Defaults
  background-color: var(--color-bg);
  color: var(--color-text);
  --font-standard: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --mono-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-family: var(--font-standard);
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  margin: 0;
  padding: 0;

  // Rounding sizes
  --size-rounded-xs: 0.5rem;
  --size-rounded-sm: 0.75rem;
  --size-rounded-md: 1rem;
  --size-rounded-lg: 1.25rem;

  --size-rounded-max: 999999999px;
  --size-rounded-card: 1rem;
  --size-rounded-icon: 1rem;
  --size-rounded-control: 0.25rem;
  --size-rounded-tooltip: 0.25rem;

  --size-navbar-height: 3.5rem;
  --size-mobile-navbar-height: 3.5rem;
  --size-mobile-navbar-height-expanded: 11.75rem;

  --spacing-card-lg: 1.5rem;
  --spacing-card-bg: 1rem;
  --spacing-card-md: 0.75rem;
  --spacing-card-sm: 0.5rem;
  --spacing-card-xs: 0.25rem;

  // Font Sizes
  --font-size-xxs: 0.625rem; //10px
  --font-size-xs: 0.75rem; //12px
  --font-size-sm: 0.875rem; //14px
  --font-size-nm: 1rem; //16px
  --font-size-md: 1.125rem; //18px
  --font-size-lg: 1.25rem; //20px
  --font-size-xl: 1.5rem; //24px
  --font-size-2xl: 2rem; //32px
  --font-size-3xl: 3rem; //48px

  // Font Weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-weight-text: var(--font-weight-medium);
  --font-weight-heading: var(--font-weight-extrabold);
  --font-weight-title: var(--font-weight-extrabold);

  @media screen and (min-width: 318px) {
    --size-mobile-navbar-height-expanded: 9.25rem;
  }

  @media screen and (min-width: 517px) {
    --size-mobile-navbar-height-expanded: 7rem;
  }
}

svg {
  height: 1em;
  width: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--color-text-dark);
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--color-text-dark);
}

h3 {
  margin-block: var(--spacing-card-md) var(--spacing-card-sm);
  color: var(--color-text-dark);
}

input {
  border-radius: var(--size-rounded-sm);
  box-sizing: border-box;
  border: 2px solid transparent;
  // safari iOS rounds inputs by default
  // set the appearance to none to prevent this
  appearance: none !important;
}

pre {
  font-weight: var(--font-weight-regular);
}

input,
textarea {
  background: var(--color-button-bg);
  color: var(--color-text);
  padding: 0.5rem 1rem;
  font-weight: var(--font-weight-medium);
  border: none;
  outline: none;
  box-shadow: var(--shadow-inset-sm), 0 0 0 0 transparent;
  transition: box-shadow 0.1s ease-in-out;
  min-height: 40px;

  &:focus, &:focus-visible {
    box-shadow: inset 0 0 0 transparent, 0 0 0 .25rem var(--color-brand-shadow);
    color: var(--color-button-text-active);
  }

  &:disabled,
  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }

  &:focus::placeholder {
    opacity: 0.8;
  }

  &::placeholder {
    color: var(--color-button-text);
    opacity: 0.6;
  }
}

button, input[type=button] {
  cursor: pointer;
  border: none;
  outline: none;
}

kbd {
  background-color: var(--color-code-bg);
  color: var(--color-code-text);
  box-shadow: 0 2px 1px var(--color-kbd-shadow);
  padding: 0.2em 0.5em 0.1em;
  border-radius: 3px;
  line-height: 1;
  font-size: 0.85em !important;
}

@import '~assets/styles/highlightjs.scss';
@import '~assets/styles/layout.scss';
@import '~assets/styles/utils.scss';
@import '~assets/styles/components.scss';
@import '~assets/styles/normalize.scss';

button:focus-visible, a:focus-visible, [tabindex="0"]:focus-visible {
  outline: .25rem solid #ea80ff;
  border-radius: .25rem;
}
