:root {
  /**
    * Colors
   */
  --color-text: #1a202c;
  --color-bg: #ffffff;

  --color-text-inverted: var(--color-bg);
  --color-bg-inverted: var(--color-text);

  --color-brand: #4d9227;

  --color-grey-0: #f7fafc;
  --color-grey-1: #edf2f7;
  --color-grey-2: #e2e8f0;
  --color-grey-3: #cbd5e0;
  --color-grey-4: #a0aec0;
  --color-grey-5: #718096;
  --color-grey-6: #4a5568;
  --color-grey-7: #2d3748;

  /**
    * Sizes
   */
  --size-rounded-sm: 0.25rem;
  --size-rounded-md: 0.5rem;
  --size-rounded-lg: 1rem;

  /**
    * Defaults
   */
  font-size: 18px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

svg {
  height: 24px;
  width: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input {
  background: var(--color-bg);
  border: 2px solid var(--color-grey-3);
  border-radius: var(--size-rounded-sm);
  color: var(--color-grey-9);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;

  &:focus,
  &:hover {
    border-color: var(--color-grey-4);
    color: var(--color-text);

    &::placeholder {
      color: var(--color-grey-7);
    }
  }

  &::placeholder {
    color: var(--color-grey-6);
  }
}

@import "~assets/styles/layout.scss";
@import "~assets/styles/utils.scss";
@import "~assets/styles/components.scss";
