%card {
  background: var(--color-raised-bg);
  border-radius: var(--size-rounded-card);
}

%card-spaced-b {
  @extend %card;
  margin-bottom: var(--spacing-card-md);
}

%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}

%transparent-clickable {
  border-radius: var(--size-rounded-control);
  color: var(--color-text);
  background-color: transparent;
  &:focus,
  &:hover,
  &.selected,
  &.nuxt-link-exact-active {
    color: var(--color-transparent-button-text-hover);
    background-color: var(--color-transparent-button-bg-hover);
  }
  &:active {
    color: var(--color-transparent-button-text-active);
    background-color: var(--color-transparent-button-bg-active);
  }
}

%label {
  color: var(--color-text);
  font-weight: var(--font-weight-extrabold);
  letter-spacing: 0.02rem;
  margin: 0 0 0.25em;
  text-transform: uppercase;
}

%small-label {
  @extend %label;
  color: var(--color-text);
  font-size: var(--font-size-xs);
  letter-spacing: 0.02rem;
}

%large-label {
  @extend %label;
  color: var(--color-text);
  font-size: var(--font-size-sm);
  margin-bottom: 0.5em;
}

%stat {
  margin-top: 0.5rem;
  margin-right: 1rem;
  @extend %row;

  @media screen and (min-width: 900px) {
    margin-top: 0;
  }
  svg {
    margin: auto 0.5rem auto 0;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-icon);
  }
  .info {
    margin: auto 0;
    white-space: nowrap;
    h4 {
      @extend %small-label;
    }
    .value {
      font-size: var(--font-size-sm);
      margin: 0;
      color: var(--color-text-dark);
    }
    .capitalize {
      text-transform: capitalize;
    }
    .ellipsis {
      text-overflow: ellipsis;
    }
  }
}
