.columns {
  display: flex;

  @for $i from 1 through 4 {
    .column-grow-#{$i} {
      flex-grow: $i;
    }
  }
}

.rows {
  display: flex;
  flex-direction: row;

  @for $i from 1 through 4 {
    .row-grow-#{$i} {
      flex-grow: $i;
    }
  }
}

.w-100 {
  width: 100%;
}
