.columns {
  display: flex;

  @for $i from 1 through 5 {
    .column-grow-#{$i} {
      flex-grow: $i;
    }
  }
}

.rows {
  display: flex;
  flex-direction: column;

  @for $i from 1 through 4 {
    .row-grow-#{$i} {
      flex-grow: $i;
    }
  }
}
.page-container {
  margin: var(--spacing-card-md);
  margin-top: 0;

  .page-contents {
    display: flex;
    flex-direction: column;
    .content {
      width: 100%;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.normal-page {
  display: flex;
  flex-direction: column;
  margin: 0 0.75rem;
}

.site-header {
  margin: 0 0.75rem;
}

@media (min-width: 1024px) {
  .normal-page {
    flex-direction: row;
    margin: 0 auto;
    max-width: 80rem;
    column-gap: 0.75rem;

    &.alt-layout {
      flex-direction: row-reverse;
    }
  }

  .normal-page__sidebar {
    min-width: 20rem;
    width: 20rem;
  }

  .normal-page__content {
    width: 60rem;
    max-width: 60rem;
  }

  .site-header {
    margin: 0 auto;
  }
}
