body {
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);
}

.VPLink,
.title,
.pager-link,
.link,
.header-anchor {
  color: inherit;
  transition: none;

  &:hover {
    text-decoration: none;
  }

  &:active:not(&:disabled) {
    scale: 1;
  }
}
