.oled-theme {
    @extend .dark-theme;

    /* Container colors */
    --color-bg: hsl(220, 13%, 0%);
    --color-raised-bg: hsl(220, 13%, 10%);
    --color-raised-bg-hover: hsl(220, 13%, 20%);
    --color-divider: hsl(220, 13%, 35%);
    --color-button-bg: hsl(220, 13%, 20%);
    --color-button-bg-hover: hsl(220, 13%, 15%);

    /* Ad colors */
    --color-ad-bg: hsl(200, 70%, 15%);
    --color-ad-link: hsl(200, 70%, 45%);
}
