apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../scopes/apis
  - ../../scopes/auth
  - ../../scopes/billing
  - ../../scopes/friends
  - ../../scopes/teams
  - ../../scopes/version_files
  - ../../scopes/webhooks
  - ../../scopes/websocket
  - ./gateway.yaml
components:
  - ./image-config
configMapGenerator:
  - name: local-config
    envs:
      - config.env
generatorOptions:
  disableNameSuffixHash: true
patches:
  - path: resources-patch.yaml
    target:
      kind: Deployment
  - path: envfrom-patch.yaml
    target:
      kind: Deployment
  - path: gateway-namespace-patch.yaml
    target:
      kind: HTTPRoute
