:root {
	/* Borders */
	--border-width: 1px;
	--border-style: solid;
	--border: var(--border-width) var(--border-style);

	/* Rounded radii */
	--rounded-sm: 8px;
	--rounded: 10px;
	--rounded-lg: 14px;
	--rounded-max: 100px;
	--rounded-top: var(--rounded) var(--rounded) 0 0;
	--rounded-bottom: 0 0 var(--rounded) var(--rounded);
	--rounded-sm-top: var(--rounded-sm) var(--rounded-sm) 0 0;
	--rounded-sm-bottom: 0 0 var(--rounded-sm) var(--rounded-sm);
}
