[package]
name = "theseus"
version = "0.8.8"
authors = ["Jai A <jaiagr+gpg@pm.me>"]
edition = "2021"

[dependencies]
bytes = "1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_ini = "0.2.0"
toml = "0.8.12"
sha1_smol = { version = "1.0.0", features = ["std"] }
sha2 = "0.10.8"
url = "2.2"
uuid = { version = "1.1", features = ["serde", "v4"] }
zip = "0.6.5"
async_zip = { version = "0.0.17", features = ["chrono", "tokio-fs", "deflate", "bzip2", "zstd", "deflate64"] }
flate2 = "1.0.28"
tempfile = "3.5.0"
urlencoding = "2.1.3"
dashmap = { version = "6.0.1", features = ["serde"] }

chrono = { version = "0.4.19", features = ["serde"] }
daedalus = { version = "0.2.3" }
dirs = "5.0.1"

regex = "1.5"
sys-info = "0.9.0"
sysinfo = "0.30.8"
thiserror = "1.0"

tracing = "0.1.37"
tracing-subscriber = { version = "0.3.18", features = ["chrono", "env-filter"] }
tracing-error = "0.2.0"

paste = { version = "1.0" }

tauri = { version = "2.0.0-rc", optional = true }
indicatif = { version = "0.17.3", optional = true }

async-tungstenite = { version = "0.27.0", features = ["tokio-runtime", "tokio-rustls-webpki-roots"] }
futures = "0.3"
reqwest = { version = "0.12.3", features = ["json", "stream", "deflate", "gzip", "brotli", "rustls-tls", "charset", "http2", "macos-system-configuration"], default-features = false }
tokio = { version = "1", features = ["full"] }
async-recursion = "1.0.4"

notify = { version = "6.1.1", default-features = false }
notify-debouncer-mini = { version = "0.4.1", default-features = false }

lazy_static = "1.4.0"
dunce = "1.0.3"

whoami = "1.4.0"

discord-rich-presence = "0.2.4"

p256 = { version = "0.13.2", features = ["ecdsa"] }
rand = "0.8"
byteorder = "1.5.0"
base64 = "0.22.0"

sqlx = { version = "0.8.0", features = [ "runtime-tokio", "sqlite", "macros" ] }

[target.'cfg(windows)'.dependencies]
winreg = "0.52.0"

[features]
tauri = ["dep:tauri"]
cli = ["dep:indicatif"]
