<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/create-mod.css" rel="stylesheet" type="text/css">

    <title>Create Mod</title>
</head>

<body>
<header class="site-header">
    <div class="temp-circle-logo"></div>
    <h2>Staging</h2>

    <div class="links-container">
        <a href="home">home</a>
        <a href="mods">mods</a>
        <a href="modpacks">modpacks</a>
        <a href="about">about</a>
    </div>
</header>

<div class="creation-main">
    <progress max="5" value="1" class="creation-progress-bar"></progress>

    <div class="creation-parts-header">
        <a class="creation-parts-header-active" id="info-header">Info</a>
        <a id="files-header">Files</a>
        <a id="monetization-header">Monetization</a>
        <a id="interaction-header">Interaction</a>
        <a id="review-header">Review</a>
    </div>
    <div class="creation-parts">
        <div class="creation-part base-info" id="info">
            <div class="info-display">
                <img src="..." class="mod-icon" width="250" height="250">
                <div class="info-display-inputs">
                    <label>
                        Name:
                        <input type="text">
                    </label>
                    <label>
                        Description:
                        <input type="text">
                    </label>
                    <label>
                        Icon:
                        <input type="file">
                    </label>
                </div>
            </div>

            <div class="info-body">
                <label>
                    Body:
                    <textarea></textarea>
                </label>
            </div>

            <div class="button-container">
                <a class="discard-button">Discard</a>
                <a class="draft-button">Save as Draft</a>
                <a class="next-button">Next</a>
            </div>
        </div>
        <div class="creation-part base-files" id="files">

        </div>
        <div class="creation-part base-monetization" id="monetization">

        </div>
        <div class="creation-part base-interaction" id="interaction">

        </div>
        <div class="creation-part base-integrations" id="integrations">

        </div>
        <div class="creation-part base-review" id="review">

        </div>
    </div>
</div>
</body>

</html>