<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/mod.css" rel="stylesheet" type="text/css">
    <link href="/static/css/solarized-dark.css" rel="stylesheet" type="text/css">

    <title>Search</title>
</head>

<body>

<header class="site-header">
    <div class="temp-circle-logo"></div>
    <h2>Staging</h2>

    <div class="links-container">
        <a href="home">home</a>
        <a href="mods">mods</a>
        <a href="modpacks">modpacks</a>
        <a href="about">about</a>
    </div>
</header>

<div class="main-flex">
    <div class="main-content">
        <div class="mod-navigation">
            <a class="navigation-pointer" href="mods">Mods</a>
            <p>></p>
            <a class="navigation-text" href="">Mod Name</a>
            <a class="navigation-follow" href="">
                <img src="/static/images/icon/follow.svg" alt="follow">
                Follow
            </a>
        </div>

        <div class="mod-header rounded-border gray-border">
            <img class="mod-icon" src="...">
            <div class="mod-title">
                <h2 class="mod-title-text">Mod Name</h2>
                <p class="mod-title-text">Blah blah blah bla hblahb lahb lahblah blahbl ahbla h blah blahblahb ahblahbl  ahbla  hblah </p>
            </div>
        </div>

        <div class="mod-bar">
            <a class="mod-bar-active mod-bar-href" onclick="toggleSection(this)" id="description-bar">Description</a>
            <a class="mod-bar-href" onclick="toggleSection(this)" id="files-bar">Files</a>
            <a class="mod-bar-href" onclick="toggleSection(this)" id="api-bar">API</a>
            <a class="mod-bar-href" href="https://github.com/Geometrically/fabricate">Source</a>
            <a class="mod-bar-href" href="https://github.com/Geometrically/fabricate/wiki">Wiki</a>
            <a class="mod-bar-href" href="https://github.com/Geometrically/fabricate/issues">Issues</a>
        </div>

        <div class="mod-main mod-show" id="description">
            <div class="mod-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim, lorem eget maximus cursus, quam est pellentesque leo, quis vulputate ante tellus et lacus. Vestibulum hendrerit finibus gravida. Nulla vitae faucibus massa. Nunc posuere ornare urna ut ultricies. Morbi a velit vestibulum, pulvinar massa nec, rhoncus tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ante augue. Morbi nunc libero, ultrices vitae est nec, elementum blandit mauris. Aliquam venenatis faucibus massa in lobortis. Nunc tincidunt lectus in ultrices ultricies. Ut consectetur orci at ligula fringilla dapibus. Praesent porta, neque ut bibendum luctus, diam nibh auctor diam, eu condimentum enim nisi id erat. Nullam fringilla aliquam nulla sed lobortis. Sed ex neque, ultricies nec suscipit nec, aliquet ac mi. Aenean ut ultrices augue. Mauris ut sapien non arcu congue dapibus. Ut ornare ante odio, a rhoncus enim dignissim in. Vestibulum aliquet maximus nisi. Etiam fermentum velit quam, vitae molestie leo consequat malesuada. Vivamus felis nulla, egestas vitae efficitur in, vehicula eu ante. Nunc semper eu nibh sit amet iaculis. Proin eu finibus sapien, a luctus ante. Ut in congue massa. Cras malesuada magna est, id fringilla arcu tempor et. Proin fringilla orci ut tincidunt dictum. Nunc sodales ac urna sit amet fringilla. Donec eget dictum neque. Maecenas maximus libero sem, et lobortis diam imperdiet a. In ultrices quis massa id rutrum. Proin sit amet ex quis diam dapibus interdum vel a turpis. Cras elit ligula, bibendum id lacus id, feugiat mattis arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras elit libero, porttitor eu blandit quis, elementum eget massa. Duis ac quam in neque feugiat egestas. Quisque blandit libero nisl, non convallis neque vestibulum quis. Donec vitae malesuada erat, sed faucibus diam. Duis fringilla eros elit, a pulvinar lacus malesuada feugiat. Integer ac hendrerit arcu. Phasellus quis eros faucibus metus blandit volutpat. Curabitur auctor iaculis leo sit amet tincidunt. Nam odio urna, rutrum non sodales sit amet, euismod at justo. Quisque pharetra ipsum sed sollicitudin pulvinar. Aenean eget cursus tellus, et convallis nisi. Maecenas malesuada lobortis condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla convallis orci magna, quis gravida purus aliquet sit amet. Pellentesque fringilla at nulla sit amet mollis. Cras euismod lorem non justo rhoncus, ut euismod urna egestas. Etiam luctus id lacus ut eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget lectus at lacus hendrerit gravida non vitae ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed finibus tincidunt porta. Phasellus fringilla pulvinar pharetra. Praesent tristique mauris metus, vitae pellentesque est vestibulum id. Phasellus vitae nisi in nibh vehicula varius id hendrerit erat. Mauris tempus lorem eu nulla viverra facilisis. Phasellus posuere dui nunc, sit amet consectetur lacus scelerisque maximus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim, lorem eget maximus cursus, quam est pellentesque leo, quis vulputate ante tellus et lacus. Vestibulum hendrerit finibus gravida. Nulla vitae faucibus massa. Nunc posuere ornare urna ut ultricies. Morbi a velit vestibulum, pulvinar massa nec, rhoncus tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ante augue. Morbi nunc libero, ultrices vitae est nec, elementum blandit mauris. Aliquam venenatis faucibus massa in lobortis. Nunc tincidunt lectus in ultrices ultricies. Ut consectetur orci at ligula fringilla dapibus. Praesent porta, neque ut bibendum luctus, diam nibh auctor diam, eu condimentum enim nisi id erat. Nullam fringilla aliquam nulla sed lobortis. Sed ex neque, ultricies nec suscipit nec, aliquet ac mi. Aenean ut ultrices augue. Mauris ut sapien non arcu congue dapibus. Ut ornare ante odio, a rhoncus enim dignissim in. Vestibulum aliquet maximus nisi. Etiam fermentum velit quam, vitae molestie leo consequat malesuada. Vivamus felis nulla, egestas vitae efficitur in, vehicula eu ante. Nunc semper eu nibh sit amet iaculis. Proin eu finibus sapien, a luctus ante. Ut in congue massa. Cras malesuada magna est, id fringilla arcu tempor et. Proin fringilla orci ut tincidunt dictum. Nunc sodales ac urna sit amet fringilla. Donec eget dictum neque. Maecenas maximus libero sem, et lobortis diam imperdiet a. In ultrices quis massa id rutrum. Proin sit amet ex quis diam dapibus interdum vel a turpis. Cras elit ligula, bibendum id lacus id, feugiat mattis arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras elit libero, porttitor eu blandit quis, elementum eget massa. Duis ac quam in neque feugiat egestas. Quisque blandit libero nisl, non convallis neque vestibulum quis. Donec vitae malesuada erat, sed faucibus diam. Duis fringilla eros elit, a pulvinar lacus malesuada feugiat. Integer ac hendrerit arcu. Phasellus quis eros faucibus metus blandit volutpat. Curabitur auctor iaculis leo sit amet tincidunt. Nam odio urna, rutrum non sodales sit amet, euismod at justo. Quisque pharetra ipsum sed sollicitudin pulvinar. Aenean eget cursus tellus, et convallis nisi. Maecenas malesuada lobortis condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla convallis orci magna, quis gravida purus aliquet sit amet. Pellentesque fringilla at nulla sit amet mollis. Cras euismod lorem non justo rhoncus, ut euismod urna egestas. Etiam luctus id lacus ut eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget lectus at lacus hendrerit gravida non vitae ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed finibus tincidunt porta. Phasellus fringilla pulvinar pharetra. Praesent tristique mauris metus, vitae pellentesque est vestibulum id. Phasellus vitae nisi in nibh vehicula varius id hendrerit erat. Mauris tempus lorem eu nulla viverra facilisis. Phasellus posuere dui nunc, sit amet consectetur lacus scelerisque maximus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim, lorem eget maximus cursus, quam est pellentesque leo, quis vulputate ante tellus et lacus. Vestibulum hendrerit finibus gravida. Nulla vitae faucibus massa. Nunc posuere ornare urna ut ultricies. Morbi a velit vestibulum, pulvinar massa nec, rhoncus tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ante augue. Morbi nunc libero, ultrices vitae est nec, elementum blandit mauris. Aliquam venenatis faucibus massa in lobortis. Nunc tincidunt lectus in ultrices ultricies. Ut consectetur orci at ligula fringilla dapibus. Praesent porta, neque ut bibendum luctus, diam nibh auctor diam, eu condimentum enim nisi id erat. Nullam fringilla aliquam nulla sed lobortis. Sed ex neque, ultricies nec suscipit nec, aliquet ac mi. Aenean ut ultrices augue. Mauris ut sapien non arcu congue dapibus. Ut ornare ante odio, a rhoncus enim dignissim in. Vestibulum aliquet maximus nisi. Etiam fermentum velit quam, vitae molestie leo consequat malesuada. Vivamus felis nulla, egestas vitae efficitur in, vehicula eu ante. Nunc semper eu nibh sit amet iaculis. Proin eu finibus sapien, a luctus ante. Ut in congue massa. Cras malesuada magna est, id fringilla arcu tempor et. Proin fringilla orci ut tincidunt dictum. Nunc sodales ac urna sit amet fringilla. Donec eget dictum neque. Maecenas maximus libero sem, et lobortis diam imperdiet a. In ultrices quis massa id rutrum. Proin sit amet ex quis diam dapibus interdum vel a turpis. Cras elit ligula, bibendum id lacus id, feugiat mattis arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras elit libero, porttitor eu blandit quis, elementum eget massa. Duis ac quam in neque feugiat egestas. Quisque blandit libero nisl, non convallis neque vestibulum quis. Donec vitae malesuada erat, sed faucibus diam. Duis fringilla eros elit, a pulvinar lacus malesuada feugiat. Integer ac hendrerit arcu. Phasellus quis eros faucibus metus blandit volutpat. Curabitur auctor iaculis leo sit amet tincidunt. Nam odio urna, rutrum non sodales sit amet, euismod at justo. Quisque pharetra ipsum sed sollicitudin pulvinar. Aenean eget cursus tellus, et convallis nisi. Maecenas malesuada lobortis condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla convallis orci magna, quis gravida purus aliquet sit amet. Pellentesque fringilla at nulla sit amet mollis. Cras euismod lorem non justo rhoncus, ut euismod urna egestas. Etiam luctus id lacus ut eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget lectus at lacus hendrerit gravida non vitae ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed finibus tincidunt porta. Phasellus fringilla pulvinar pharetra. Praesent tristique mauris metus, vitae pellentesque est vestibulum id. Phasellus vitae nisi in nibh vehicula varius id hendrerit erat. Mauris tempus lorem eu nulla viverra facilisis. Phasellus posuere dui nunc, sit amet consectetur lacus scelerisque maximus.
            </div>

            <div class="mod-reviews">
                <div class="review">
                    <div class="stars">
                        <img class="star" src="/static/images/icon/">
                    </div>
                </div>
            </div>
        </div>

        <div class="files mod-hide" id="files">
            <div class="files-search">
                <input class="files-search-bar" type="text" id="files-search" placeholder="Search for files..." oninput="handleFilesSearch()">
                <select name="versions" class="files-versions" id="files-versions">
                    <option value="1.15.2">1.15.2</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>

        <div class="api mod-hide" id="api">
            <div class="api-container">
                <div class="api-code-ref">
                    <h2>Maven</h2>
                    <p>This project has an API accessible from maven. You can add it to your project using the artifact below.</p>

                    <div class="api-code-blocks">
                        <div class="code-block-navigation">
                            <a class="mod-bar-href mod-bar-active" onclick="toggleBuildSection(this)" id="gradle-code-bar">Gradle</a>
                            <a class="mod-bar-href" onclick="toggleBuildSection(this)" id="maven-code-bar">Maven</a>
                        </div>

                        <pre class="api-code-block gradle mod-show" id="gradle-code">

repositories {
    maven {
       url "https://cdn.sitename.com/maven"
    }
}

dependencies {
    modApi "anime.sucks:balls:1.0"
}
                        </pre>
                        <pre class="api-code-block mod-hide" id="maven-code">

&lt;dependency&gt;
    &lt;groupId&gt;anime.sucks&lt;/groupId&gt;
    &lt;artifactId&gt;balls&lt;/artifactId&gt;
    &lt;version&gt;1.0&lt;/version&gt;
&lt;/dependency&gt;
                        </pre>
                    </div>
                </div>

                <div class="api-code-ref">
                    <h2>Website API</h2>
                    <p>All projects and project files can be pulled using our REST API. You can pull this project's information using the code snippets below.</p>
                    <div class="api-code-blocks">
                        <div class="code-block-navigation">
                            <a class="mod-bar-href mod-bar-active" onclick="toggleApiSection(this)" id="curl-code-bar">cURL</a>
                            <a class="mod-bar-href" onclick="toggleApiSection(this)" id="js-code-bar">JS</a>
                        </div>

                        <pre class="api-code-block extra-top mod-show shell" id="curl-code">

$ curl -XGET -H "Content-type: application/json" 'http://api.sitename.com/mod/testmod'
                        </pre>
                        <pre class="api-code-block extra-top mod-hide javascript" id="js-code">

let httpClient = TooLazyToMakeWorkingCode();
httpClient.request('http://api.sitename.com/mod/testmod');
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <input class="search-bar" type="text" id="search-input" placeholder="Search for mods..." oninput="handleSearch()">

        <div class="mod-sidebar rounded-border gray-border">
            <div class="mod-info sidebar-entry">
                <div class="sidebar-info">
                    <img src="/static/images/icon/information.svg" class="sidebar-img" alt="Donate">
                    <h3>Information</h3>
                </div>

                <div class="mod-info-entry">
                    <img src="/static/images/icon/download.svg" alt="Downloads" >
                    <p>1,292,112</p>
                </div>
                <div class="mod-info-entry">
                    <img src="/static/images/icon/followers.svg" alt="Followers" >
                    <p>2391</p>
                </div>
                <div class="mod-info-entry">
                    <img src="/static/images/icon/created.svg" alt="Created" >
                    <p>1/2/2020</p>
                </div>
                <div class="mod-info-entry">
                    <img src="/static/images/icon/updated.svg" alt="Updated" >
                    <p>5/4/2020</p>
                </div>
            </div>
            <div class="sidebar-line"></div>

            <div class="sidebar-entry">
                <div class="sidebar-info">
                    <img src="/static/images/icon/curated.svg" class="sidebar-img" alt="Curated">
                    <h3>Downloads</h3>
                </div>

                <a class="download-primary download">v2.1.14 for Minecraft 1.15.2</a>
                <a class="download-normal download">v2.0.8 for Minecraft 1.14.4</a>
            </div>
            <div class="sidebar-line"></div>

            <div class="categories-info sidebar-entry">
                <div class="sidebar-info">
                    <img src="/static/images/icon/category.svg" class="sidebar-img" alt="Donate">
                    <h3>Categories</h3>
                </div>

                <div class="categories">
                    <img alt="adventure" src="/static/images/icon/adventure.svg"/>
                    <img alt="magic" src="/static/images/icon/magic.svg"/>
                    <img alt="library" src="/static/images/icon/library.svg" class="result-image"/>
                </div>
            </div>
            <div class="sidebar-line"></div>

            <div class="member-info sidebar-entry">
                <div class="sidebar-info">
                    <img src="/static/images/icon/contributor.svg" class="sidebar-img" alt="Donate">
                    <h3>Contributors</h3>
                </div>

                <div class="contributor-card rounded-border gray-border">
                    <img src="/static/images/icon/cursed.png" alt="">
                    <div class="contributor-card-text">
                        <a href="">Username</a>
                        <small>Role</small>
                    </div>
                </div>
            </div>
            <div class="sidebar-line"></div>

            <div class="donation-info sidebar-entry">
                <div class="sidebar-info">
                    <img src="/static/images/icon/donate.svg" class="sidebar-img" alt="Donate">
                    <h3>Donate</h3>
                </div>

                <a href="" class="donation-link">
                    <img src="/static/images/donation/patreon.png">
                </a>
                <a href="" class="donation-link">
                    <img src="/static/images/donation/bmc-coffee.gif">
                </a>
                <a href="" class="donation-link">
                    <img src="/static/images/donation/paypal.jpg">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/main.js"></script>
<script src="/static/js/highlight.pack.js"></script>
<script src="/static/js/mod.js"></script>
</body>
</html>
