<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/main.js"></script>

    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/search.css" rel="stylesheet" type="text/css">
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">

    <title>Search</title>
</head>

<body onscroll="loadExtra()">

<header class="site-header">
    <div class="temp-circle-logo"></div>
    <h2>Staging</h2>

    <div class="links-container">
        <a href="home">home</a>
        <a href="mods">mods</a>
        <a href="modpacks">modpacks</a>
        <a href="about">about</a>
    </div>
</header>

<svg display="none">
    <symbol viewBox="0 0 120 66.7" id="forge">
        <path d="M91.6,16.7l-37.8-1.9l46.2,0v-3.7H47.8l0,7.8v6.2c0,0.1-1.5-9.1-1.9-11.7h-4.1v6.8v6.2
                    c0,0.1-1.8-10.9-1.9-12.3c-10.4,0-27.9,0-27.9,0c1.9,1.6,12.4,10.6,19.9,14.3c3.7,1.8,8.3,1.9,12.4,2c2.1,0.1,4.2,0.2,5.8,1.8
                    c2.3,2.2,2.8,5.7,0.8,8.3c-1.9,2.6-7.3,3.2-7.3,3.2L39,49.1v6.4h10.3l0.3-6.3l8.9-6.3c-0.9,0.8-3.1,2.8-6.2,7.7
                    c-0.7,1.1-1.3,2.3-1.7,3.5c2.2-1.9,6.8-3.2,12.2-3.2c5.3,0,9.9,1.3,12.1,3.2c-0.4-1.2-1-2.4-1.7-3.5c-3.2-4.9-5.3-6.9-6.2-7.7
                    l8.9,6.3l0.3,6.3h9.6v-6.4l-4.5-5.5c0,0-6.7-0.4-8.4-3.2C67.7,32.6,74.8,20.4,91.6,16.7z"/>
    </symbol>
</svg>

<a href="#" class="back-to-top" id="backToTop">
    <img src="/static/images/icon/up.svg" alt="up">
</a>

<div class="info-popup">
    <h3>Welcome to Fabricate Staging!</h3>
    <p>Fabricate is a work-in progress mod distribution platform that has full backwards compatibility with curseforge! Please keep in mind that we are in early beta so not everything works.</p>
    <small>made possible by our contributors</small>
    <a class="discord-button" href="https://discord.gg/JRMJpRX">Discord</a>
    <a class="github-button" href="https://github.com/Geometrically/fabricate">GitHub</a>
    <a onclick="closePopup(this)" class="exit-button">Close</a>
</div>

<div class="main-flex">
    <div class="left-flex">
        <div class="filters">
            <select id="filters" onchange="changeSortType(this)">
                <option value="relevance" selected="selected">Relevance</option>
                <option value="downloads">Total Downloads</option>
                <option value="updated">Last Updated</option>
                <option value="newest">Newest</option>
            </select>
        </div>

        <div class="categories">
            <a class="categories-label category-badge category-active">
                <p>Categories</p>
            </a>
            <a class="tech-badge category-badge category-active" id="technology" onclick="activateCategory(this)">
                <img alt="tech" src="/static/images/icon/tech.svg" class="badge-image"/>
                <p>TECH</p>
            </a>
            <a class="adventure-badge category-badge" id="adventure" onclick="activateCategory(this)">
                <img alt="adventure" src="/static/images/icon/adventure.svg" class="badge-image"/>
                <p>ADVENTURE</p>
            </a>
            <a class="magic-badge category-badge" id="magic" onclick="activateCategory(this)">
                <img alt="magic" src="/static/images/icon/magic.svg" class="badge-image"/>
                <p>MAGIC</p>
            </a>
            <a class="utility-badge category-badge" id="utility" onclick="activateCategory(this)">
                <img alt="util" src="/static/images/icon/util.svg" class="badge-image"/>
                <p>UTILITY</p>
            </a>
            <a class="decoration-badge category-badge" id="decoration" onclick="activateCategory(this)">
                <img alt="decoration" src="/static/images/icon/decoration.svg" class="badge-image"/>
                <p>DECORATION</p>
            </a>
            <a class="library-badge category-badge" id="library" onclick="activateCategory(this)">
                <img alt="library" src="/static/images/icon/library.svg" class="badge-image"/>
                <p>LIBRARY</p>
            </a>
            <a class="world-badge category-badge" id="worldgen" onclick="activateCategory(this)">
                <img alt="world" src="/static/images/icon/world.svg" class="badge-image"/>
                <p>WORLDGEN</p>
            </a>
            <a class="cursed-badge category-badge" id="cursed" onclick="activateCategory(this)">
                <img alt="cursed" src="/static/images/icon/cursed.png" class="badge-image"/>
                <p>CURSED</p>
            </a>
            <a class="storage-badge category-badge" id="storage" onclick="activateCategory(this)">
                <img alt="storage" src="/static/images/icon/storage.svg" class="badge-image"/>
                <p>STORAGE</p>
            </a>
            <a class="food-badge category-badge" id="food" onclick="activateCategory(this)">
                <img alt="food" src="/static/images/icon/food.svg" class="badge-image"/>
                <p>FOOD</p>
            </a>
            <a class="equipment-badge category-badge" id="equipment" onclick="activateCategory(this)">
                <img alt="equipment" src="/static/images/icon/equipment.svg" class="badge-image"/>
                <p>EQUIPMENT</p>
            </a>
            <a class="misc-badge category-badge" id="misc" onclick="activateCategory(this)">
                <img alt="misc" src="/static/images/icon/misc.svg" class="badge-image"/>
                <p>MISC</p>
            </a>
        </div>

        <div class="categories">
            <a class="categories-label category-badge category-active">
                <p>Loaders</p>
            </a>
            <a class="forge-badge category-badge" id="forge" onclick="activateCategory(this)">
                <img alt="forge" src="/static/images/icon/forge-alt.svg" class="badge-image"/>
                <p>FORGE</p>
            </a>
            <a class="fabric-badge category-badge" id="fabric" onclick="activateCategory(this)">
                <img alt="fabric" src="/static/images/icon/fabric.png" class="badge-image"/>
                <p>FABRIC</p>
            </a>
        </div>
    </div>

    <div class="search-main">
        <div class="search-div">
            <input class="search-bar" type="text" id="search-input" placeholder="Search for mods..." oninput="handleSearch(0)">
        </div>

        <div id="results" class="results">
            {{> search-results}}
        </div>
    </div>

    <div class="versions">
        <button type="button" class="clear-button" onclick="clearFilters()">Clear Filters</button>

        <div class="version-type">
            <p class="version-type-label" onclick="toggleVisibility(this)">[+]  Releases</p>
            <div class="version-scroll" id="releases" style="display: none">

            </div>
        </div>

        <div class="version-type">
            <p class="version-type-label" onclick="toggleVisibility(this)">[+]  Snapshots</p>
            <div class="version-scroll" id="snapshots" style="display: none">

            </div>
        </div>

        <div class="version-type">
            <p class="version-type-label" onclick="toggleVisibility(this)">[+]  Archaic</p>
            <div class="version-scroll" id="archaic" style="display: none">

            </div>
        </div>
    </div>
</div>

<script src="/static/js/search.js"></script>

</body>
</html>