<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/search.css" rel="stylesheet" type="text/css">
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">

    <title>Search</title>
</head>

<body onscroll="loadExtra()">

<header class="site-header">
    <div class="temp-circle-logo"></div>
    <h2>Staging</h2>

    <div class="links-container">
        <a href="home">home</a>
        <a href="mods">mods</a>
        <a href="modpacks">modpacks</a>
        <a href="about">about</a>
    </div>
</header>

<a href="#" class="back-to-top" id="backToTop">
    <img src="/static/images/icon/up.svg" alt="up">
</a>

<div class="main-flex">
    <div class="left-flex">
        <div class="filters">
            <select id="filters" onchange="changeSortType(this)">
                <option value="relevance" selected="selected">Relevance</option>
                <option value="downloads">Total Downloads</option>
                <option value="updated">Last Updated</option>
                <option value="newest">Newest</option>
            </select>
        </div>

        <div class="categories">
            <a class="categories-label category-badge category-active">
                <p>Categories</p>
            </a>
            <a class="tech-badge category-badge category-active" id="technology" onclick="activateCategory(this)">
                <img alt="tech" src="/static/images/icon/tech.svg" class="result-image"/>
                <p>TECH</p>
            </a>
            <a class="adventure-badge category-badge" id="adventure" onclick="activateCategory(this)">
                <img alt="adventure" src="/static/images/icon/adventure.svg" class="result-image"/>
                <p>ADVENTURE</p>
            </a>
            <a class="magic-badge category-badge" id="magic" onclick="activateCategory(this)">
                <img alt="magic" src="/static/images/icon/magic.svg" class="result-image"/>
                <p>MAGIC</p>
            </a>
            <a class="utility-badge category-badge" id="utility" onclick="activateCategory(this)">
                <img alt="util" src="/static/images/icon/util.svg" class="result-image"/>
                <p>UTILITY</p>
            </a>
            <a class="decoration-badge category-badge" id="decoration" onclick="activateCategory(this)">
                <img alt="decoration" src="/static/images/icon/decoration.svg" class="result-image"/>
                <p>DECORATION</p>
            </a>
            <a class="library-badge category-badge" id="library" onclick="activateCategory(this)">
                <img alt="library" src="/static/images/icon/library.svg" class="result-image"/>
                <p>LIBRARY</p>
            </a>
            <a class="world-badge category-badge" id="worldgen" onclick="activateCategory(this)">
                <img alt="world" src="/static/images/icon/world.svg" class="result-image"/>
                <p>WORLDGEN</p>
            </a>
            <a class="cursed-badge category-badge" id="cursed" onclick="activateCategory(this)">
                <img alt="cursed" src="/static/images/icon/cursed.png" class="result-image"/>
                <p>CURSED</p>
            </a>
            <a class="storage-badge category-badge" id="storage" onclick="activateCategory(this)">
                <img alt="storage" src="/static/images/icon/storage.svg" class="result-image"/>
                <p>STORAGE</p>
            </a>
            <a class="food-badge category-badge" id="food" onclick="activateCategory(this)">
                <img alt="food" src="/static/images/icon/food.svg" class="result-image"/>
                <p>FOOD</p>
            </a>
            <a class="equipment-badge category-badge" id="equipment" onclick="activateCategory(this)">
                <img alt="equipment" src="/static/images/icon/equipment.svg" class="result-image"/>
                <p>EQUIPMENT</p>
            </a>
            <a class="misc-badge category-badge" id="misc" onclick="activateCategory(this)">
                <img alt="misc" src="/static/images/icon/misc.svg" class="result-image"/>
                <p>MISC</p>
            </a>
        </div>

        <div class="categories">
            <a class="categories-label category-badge category-active">
                <p>Loaders</p>
            </a>
            <a class="forge-badge category-badge" id="forge" onclick="activateCategory(this)">
                <img alt="forge" src="/static/images/icon/forge-alt.svg" class="result-image"/>
                <p>FORGE</p>
            </a>
            <a class="fabric-badge category-badge" id="fabric" onclick="activateCategory(this)">
                <img alt="fabric" src="/static/images/icon/fabric.png" class="result-image"/>
                <p>FABRIC</p>
            </a>
        </div>
    </div>

    <div class="search-main">
        <div class="search-div">
            <input class="search-bar" type="text" id="search-input" placeholder="Search for mods..." oninput="handleSearch(0)">
        </div>

        <div id="results" class="results">
            {{> search-results}}
        </div>
    </div>

    <div class="versions">
        <button type="button" class="clear-button" onclick="clearFilters()">Clear Filters</button>

        <div class="version-type">
            <p class="version-type-label" onclick="toggleVisibility(this)">[+]  Releases</p>
            <div class="version-scroll" id="releases" style="display: none">

            </div>
        </div>

        <div class="version-type">
            <p class="version-type-label" onclick="toggleVisibility(this)">[+]  Snapshots</p>
            <div class="version-scroll" id="snapshots" style="display: none">

            </div>
        </div>

        <div class="version-type">
            <p class="version-type-label" onclick="toggleVisibility(this)">[+]  Archaic</p>
            <div class="version-scroll" id="archaic" style="display: none">

            </div>
        </div>
    </div>
</div>

<script src="/static/js/main.js"></script>
<script src="/static/js/search.js"></script>

</body>
</html>