<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="ModrinthFileAssociation" Guid="*">
        <ProgId Id="modrinth.mrpack.Document" Description="Modrinth Modpack Installkit">
          <Extension Id="mrpack" ContentType="application/mrpack">
            <Verb Id="open" Command="Install" TargetFile="EXE" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
        <RegistryValue Root="HKLM" Key="SOFTWARE\modrinth\theseus\Capabilities" Name="ApplicationDescription" Value="Modrinth Modpack Installkit" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\modrinth\theseus\Capabilities" Name="ApplicationName" Value="Theseus" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\modrinth\theseus\Capabilities\FileAssociations" Name=".mrpack" Value="modrinth.mrpack.Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="Theseus" Value="SOFTWARE\modrinth\theseus\Capabilities" Type="string" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
