:root {
  /* Borders */
  --border-width: 1px;
  --border-style: solid;
  --border: var(--border-width) var(--border-style);

  /* Radii */
  --radii-1: 4px;
  --radii-2: 6px;
  --radii-3: 8px;
  --radii-max: 100px;
  --radii: var(--radii-2);
}