<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/auth/style.css" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<title>Error - Modrinth</title>
	</head>

	<body>
		<div class="content">
			<img src="/logo.svg" alt="Modrinth Logo" class="logo" />
			<h2>{{ code }}</h2>
			<p>An error has occurred during the authentication process.</p>
			<p>
				If you're not sure how to resolve this issue, try closing this window and signing in again.
				If the problem persists after three attempts, please visit
				<a href="https://support.modrinth.com">our support page</a> for assistance. The debug
				information below may help you or our support team diagnose and fix the problem.
			</p>
			<p><b>Debug information:</b> {{ message }}</p>
		</div>
	</body>
</html>
