.nav-item {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--rounded-sm);
  box-shadow: var(--shadow-inset-sm) var(--shadow-raised);
  transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
  color: var(--color-text-light);

  &:hover,
  &.active {
    color: var(--color-text);
  }

  &.active {
    background-color: var(--nav-active-bg);
  }
}
