@import 'components.postcss';

.base {
  font-size: 14px;
}

.avatar--size-md {
  --size: 64px !important;
}

.theme-dark {
  --status-bg: hsl(216, 5%, 29%);
  --sidebar-bg: hsl(216, 10%, 3%);
  --nav-active-bg: hsl(217, 9%, 25%);
  --font-size-sm: 0.75rem;
  --color-bg: hsl(217, 9%, 18%);
  --color-brand: hsl(145, 75%, 45%);
  --color-brand-contrast: black;
  --sub-page-bg: hsl(220, 9%, 13%);
}
