[package]
name = "theseus_gui"
version = "0.8.8"
description = "The Modrinth App is a desktop application for managing your Minecraft mods"
license = "GPL-3.0-only"
repository = "https://github.com/modrinth/code/apps/app/"
edition = "2021"
build = "build.rs"

[build-dependencies]
tauri-build = { version = "2.0.0-rc", features = ["codegen"] }

[dependencies]
theseus = { path = "../../packages/app-lib", features = ["tauri"] }

serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

tauri = { version = "2.0.0-rc", features = ["devtools", "macos-private-api", "protocol-asset", "unstable"] }
tauri-plugin-window-state = "2.0.0-rc"
tauri-plugin-deep-link = "2.0.0-rc"
tauri-plugin-os = "2.0.0-rc"
tauri-plugin-shell = "2.0.0-rc"
tauri-plugin-dialog = "2.0.0-rc"
tauri-plugin-updater = { version = "2.0.0-rc" }
tauri-plugin-single-instance = { version = "2.0.0-rc" }

tokio = { version = "1", features = ["full"] }
thiserror = "1.0"
futures = "0.3"
daedalus = "0.2.3"
chrono = "0.4.26"

dirs = "5.0.1"

url = "2.2"
uuid = { version = "1.1", features = ["serde", "v4"] }
os_info = "3.7.0"

tracing = "0.1.37"
tracing-error = "0.2.0"

lazy_static = "1"
once_cell = "1"

dashmap = "6.0.1"
paste = "1.0.15"

opener = { version = "0.7.2", features = ["reveal", "dbus-vendored"] }

native-dialog = "0.7.0"

[target.'cfg(not(target_os = "linux"))'.dependencies]
window-shadows = "0.2.1"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.25.0"
objc = "0.2.7"
rand = "0.8.5"

[target.'cfg(target_os = "linux")'.dependencies]
tauri-plugin-updater = { version = "2.0.0-rc", optional = true, features = ["native-tls-vendored", "zip"], default-features = false }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
updater = []
