@import url('https://rsms.me/inter/inter.css');

:root {
  font-family: var(--font-standard);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.card-divider {
  background-color: var(--color-button-bg);
  border: none;
  color: var(--color-button-bg);
  height: 1px;
  margin: var(--gap-sm) 0;
}