## Identity Verification

**Welcome to Modrinth!** We're happy to see you here, we just want to make sure you're you.

Since this project already exists on the internet we ask that you provide evidence you are the rightful owner of this content.  
For instance, by submitting a screenshot accessing the settings of the project's existing pages such as %PLATFORM%.
