on:
  pull_request:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master

  # broken: <https://github.com/SchemaStore/schemastore/issues/5108>
  # tombi:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: tombi-toml/setup-tombi@v1
  #     - run: tombi lint
  #     - run: tombi fmt --check
