name: Deploy frontend preview

on:
  pull_request:
    paths:
      - 'apps/frontend/**/*'
      - 'packages/ui/**/*'
      - 'packages/utils/**/*'
      - 'packages/assets/**/*'
      - '**/wrangler.jsonc'
      - '**/pnpm-*.yaml'
      - '.github/workflows/frontend-preview.yml'

jobs:
  deploy:
    if: github.repository_owner == 'modrinth' && github.event.pull_request.head.repo.full_name == github.repository
    uses: ./.github/workflows/frontend-deploy.yml
    secrets: inherit
    strategy:
      matrix:
        environment: [staging-preview, production-preview]
    with:
      environment: ${{ matrix.environment }}

  comment:
    if: github.repository_owner == 'modrinth' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Download deployment URLs
        uses: actions/download-artifact@v7
        with:
          pattern: deployment-url-*
          merge-multiple: true

      - name: Read deployment URLs
        id: deployment-urls
        run: |
          for file in deployment-url-*; do
            ENV="${file#deployment-url-}"
            URL=$(cat "$file")
            echo "${ENV}-url=${URL}" >> $GITHUB_OUTPUT
          done

      - name: Find comment
        if: github.event_name == 'pull_request'
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Frontend previews

      - name: Comment deploy URL on PR
        if: github.event_name == 'pull_request'
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## Frontend previews

            Last deployed commit is `${{ github.event.pull_request.head.sha }}`

            | Environment | URL |
            |-------------|-----|
            | staging     | ${{ steps.deployment-urls.outputs.staging-preview-url }} |
            | production  | ${{ steps.deployment-urls.outputs.production-preview-url }} |
          comment-tag: frontend-deploy
