name: GUI Build + Lint

on:
  push:
    branches: [master]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./theseus_gui
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Sync node version and setup cache
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Run Lint
        run: yarn run lint

      - name: Build
        run: yarn run build